@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/fb703dd49f01471daa0912baa97db2b0.woff') format('woff2'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e633";
}

.icon-denglu:before {
  content: "\e70a";
}

.icon-shouye:before {
  content: "\e659";
}

.icon-jiantouzuo:before {
  content: "\e61c";
}

.icon-jiantou:before {
  content: "\e7a7";
}

.icon-dengchu-box-r-xian:before {
  content: "\e89c";
}

