<!DOCTYPE html>
<html class="js cssanimations csstransitions video audio">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel='https://api.w.org/' href='https://www.hypontech.com/wp-json/' />
<title>Faqs - Hypontech</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="static/css/kgu.reset.css">
    <link rel="stylesheet" href="static/css/kgu.less.css">
    <link rel="stylesheet" href="static/css/kgu.css">
    <link rel="stylesheet" href="static/css/less.css">
    <link rel="stylesheet" href="static/css/iconfont.css">
    <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="static/css/zsh-css.css">
    <script type="text/javascript" async="" src="static/js/ga.js"></script>
    <script type="text/javascript" async="" src="static/js/analytics.js"></script>
    <script src="static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.form.js"></script>
    <script src="static/js/kgu.collection.js"></script>
    <script src="static/js/kgu.public.js"></script>
    <script src="static/js/index.js"></script>
</head>

<body>
<!-- PC端导航 -->
<div id="hd">
	<div class="center">
    <a href="https://www.hypontech.com" class="logo">
        <img src="static/picture/logo.png" alt="" class="logo-normal">
        <img src="static/picture/logo.png" alt="" class="logo-white">
    </a>
    <ul class="nav">
        <li>
            <a href="https://www.hypontech.com" class="v1">HOME</a>
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/product_solution/" class="v1">PRODUCTS & SOLUTIONS</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">

                                                    <dd><a href="https://www.hypontech.com/product_fenlei/single-on-grid/">Single Phase Grid-tied Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/three-on-grid/">Three Phase Grid-tied Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/energy-storage-inverter/">Energy Storage Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/monitoring/">Monitoring Accessories</a></dd>
                                             </dl>
                </div>
            </div>
 <!--           <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/product_solution/">Solutions & Products</a></dd>
                        <dd><a  href="https://www.hypontech.com/product" style="border:none" >Products</a></dd>

                    </dl>
                </div>
            </div> -->
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/service/" class="v1">SUPPORT</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/xiazai">Download</a></dd>
                        <!--<dd><a  href="https://www.hypontech.com/video">Videos</a></dd>-->
                        <dd><a  href="https://www.hypontech.com/faq">FAQS</a></dd>
                        <dd><a  href="https://www.hypontech.com/warranty">Warranty</a></dd>
                        <dd><a  href="https://www.hypontech.com/enquiries/" style="border:none">Enquiries</a></dd>
                    </dl>
                </div>
            </div>
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/about-us/" class="v1">COMPANY</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/about-us/">About Us</a></dd>
                        <dd><a  href="https://www.hypontech.com/category/news/">Press Center</a></dd>
                        <dd ><a  href="https://www.hypontech.com/case" >Case Gallery</a></dd>
                        <dd><a  href="https://www.hypontech.com/contact/" style="border:none">Contact</a></dd>

                    </dl>
                </div>
            </div>
        </li>
    </ul>
    <div class="hdr">
        <div class="top-form">
					<span class="change-lan">
						<a href="" id="btn-lan2" class="cur-lan"><img src="static/picture/zilew.png" alt=""></a>
					</span>
                            <a style="cursor: pointer" class="i-center loginBtn" href="https://www.hypontech.com/login/">
                    <i>Login</i></a>
                <!--<a style="cursor: pointer" class="i-center loginBtn" href="https://www.hypontech.com/register/">
                    <i>Register</i></a>-->
            

				<span class="change-lan change-ipnut"><img src="static/picture/inew.png" alt="">

				</span>
                <span class="change-lan"><a style="cursor: pointer" class="i-center loginBtn"><i>EN/CN</i></a></span>

					<span class="change-lan">
						<a href="https://www.hyponportal.com/signin" id="btn-lan2" class="cur-lan" target="_blank"><img src="static/picture/en-uk.gif" alt=""></a>
					</span>
        </div>
    </div>

    <div class="type-ahead">
        <input type="text" class="type-ahead__input" placeholder="Search..." name="s" id="sinput">
        <span class="type-hide">~</span>
    </div>
</div>
</div>
<script type="text/javascript">

    $(function () {
        $('.change-ipnut').click(function () {
            $('.type-ahead').show();
        });
        $('.type-hide').click(function () {
            $('.type-ahead').hide();
        });
    })

</script>
<style type="text/css">
    .type-hide{ color: #fff; padding: 11px; margin-left: -6px; border: 1px solid #fff; background:#fff url(static/images/index-bane.png) no-repeat; background-position: -4px 8px;}
    .type-ahead{float: right; margin-top: -18px;  display: none; }
    .type-ahead__input {
        padding: 14px 34px 12px 40px;
        border: none;
        border-radius: 0;
        font-size: 14px;
        caret-color: #007991;
        color: #007991;
        outline: none;
        width:500px;
        background:#fff  url(static/images/inew2.png) no-repeat left;
        background-position: 10px 10px;

    }
    .type-hide img{ width: 50px; height: 50px;}
</style>
<!-- 手机导航 -->
<div class="m_header">
    <div class="m_logo">
        <a href="https://www.hypontech.com"><img src="static/picture/logo.jpg" alt=""></a>
    </div>
	<div class="m-pop-search"><i class="iconfont icon-sousuo"></i></div>
	<a target="_blank" href="" class="i-center"><i class="iconfont icon-denglu"></i></a> 
	
    <a id="" class="nav_toggle" href="javascript:;">
        <span></span></a>
    <div class="m_nav">
        <ul class="m_nav_list m_nav_toggle">
            <li class="dropdown">
                <a  class="v1" href="https://www.hypontech.com">HOME<i class="iconfont"></i></a>
            </li>
            <li class="dropdown">
                <a  class="v1" href="https://www.hypontech.com/product_solution/residential-solutions/">PRODUCTS&SOLUTIONS <i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/product_solution/residential-solutions/">Solutions & Products</a>
                    <a  href="https://www.hypontech.com/product">Products</a>


                </div>
            </li>
            <li class="dropdown has-sub">
                <a  class="v1" href="">SUPPORT<i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/xiazai">Download</a>
                    <!--<a  href="https://www.hypontech.com/video">Videos</a>-->
                    <a  href="https://www.hypontech.com/faq">FAQS</a>
                    <a  href="https://www.hypontech.com/warranty">Warranty</a>
                    <a  href="https://www.hypontech.com/enquiries/">Enquiries</a>
                    

                </div>
            </li>
            <li class="dropdown has-sub">
                <a  class="v1" href="https://www.hypontech.com/about-us/">COMPANY<i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/about-us/">About Us</a>
                    <a  href="https://www.hypontech.com/category/news/">Latest Press</a>
                    <a  href="https://www.hypontech.com/case">Case Gallery</a>
                    <a  href="https://www.hypontech.com/contact/">Contact</a>
                </div>
            </li>
        </ul>

    </div>
<div class="m-type-ahead">
    <input type="text" class="m-type-ahead__input" placeholder="Search..." name="s" id="minput">
						<span class="m-type-hide"></span>
					</div>
</div>

		<script type="text/javascript">
		
			    $(function () {
			        $('.m-pop-search').click(function () {
			            $('.m-type-ahead').show();
			        });
			        $('.m-type-hide').click(function () {
			            $('.m-type-ahead').hide();
			        });
			    })
			
		</script>
<style>
    #hd{
        position: absolute;left: 0;top: 0;width: 100%; position: fixed;
        background:url(static/images/banee.png);
    }
</style>    <div class="ban-banner">
                <img src="static/picture/faq-banner.jpg" />
    </div>
<style>

    #hd{
        position: absolute;left: 0;top: 0;width: 100%;
        background:url(static/images/banee.png);
    }
</style>

<div class="container">
<div class="faqs-top">
    <form METHOD="get" id="faqform" action="#faqform">
    	<div class="zshlabel">CURRENT FILTER:</div>
        <div class="faqs-cet">
            <select class="selecter" id="sekecter" name="cateid">
                <option value="0">ALL</option>
                                <option value="38">CORPORATE &amp; BRAND</option>
                                <option value="39">PRODUCT</option>
                                <option value="62">ERROR CODE (Grid-tied)</option>
                            </select>

        </div>
        <div class="faqs-button">
            <input type="text" name="keywords" class="login-box-cen w358" placeholder="SEARCH KEYWORDS" value=""/>
            <button class="faqs-butt"><img src="static/picture/inew.png"> </button>
        </div>
    </form>
</div>
</div>
<div class="zsh-faq-results">
<div class="container">
<div class="row">
<div class="col-md-12">
Search Results: 19</div>
</div>
</div>
</div>
<div class="section-title">

    <div class=" faqse">
        <div class="container">
            <ul class="my-biji-view">
                                <li>
                	<div class="zsh-faq-title">
                    <h4 class="biji-tit"><!--<i>Q : </i>-->ERROR CODE 1: E1 Functional fault in Micro-Controller Unit (MCU)</h4>
                    <a class="biji-oth"><button>+</button></a><br />
                    <!--<div class="faqs-boote"></div>--></div>
                    <div class="biji-content">
                        <p><!--<i>A : </i>--><p style="text-align: left;"><strong>MCU self-check: Abnormalness detected</strong></p>
<p style="text-align: left;">Corrective Measures</p>
<p style="text-align: left;">A. Disconnect the inverter from the utility grid and the PV array</p>
<p>B. Reconnect it after LED turns off</p>
<p>C. If this fault is still being displayed, please contact the service.</p>
</p>
                    </div>
                </li>

                <li>
                	<div class="zsh-faq-title">
                    <h4 class="biji-tit"><!--<i>Q : </i>-->ERROR CODE 2: E2 A Faulty Inductor Detected</h4>
                    <a class="biji-oth"><button>+</button></a><br />
                    <!--<div class="faqs-boote"></div>--></div>
                    <div class="biji-content">
                        <p><!--<i>A : </i>--><p><strong>AC current sensor detect current abnormal in the start process.</strong></p>
<ul>
<li style="list-style-type: none">
<ul>
<li>Disconnect the inverter from the utility grid and the PV array</li>
<li>Reconnect it after LED turns off</li>
</ul>
</li>
</ul>
<p>If this fault is still being displayed, please contact the service.</p>
<p>If it is unrecoverable, replace inverter</p>
</p>
                    </div>
                </li>

                <li>
                	<div class="zsh-faq-title">
                    <h4 class="biji-tit"><!--<i>Q : </i>-->ERROR CODE 3: E3 Ground Fault Circuit Interrupter(GFCI) Error</h4>
                    <a class="biji-oth"><button>+</button></a><br />
                    <!--<div class="faqs-boote"></div>--></div>
                    <div class="biji-content">
                        <p><!--<i>A : </i>--><p><strong>GFCI sensor self-check abnormal</strong></p>
<p>Disconnect the inverter from the utility grid and the PV array, and reconnect it after LED turns off.<br />
If this fault is still being displayed, please contact the service.</p>
</p>
                    </div>
                </li>

                <li>
                	<div class="zsh-faq-title">
                    <h4 class="biji-tit"><!--<i>Q : </i>-->ERROR CODE 4: E4 A Faulty Grid Relay Detected</h4>
                    <a class="biji-oth"><button>+</button></a><br />
                    <!--<div class="faqs-boote"></div>--></div>
                    <div class="biji-content">
                        <p><!--<i>A : </i>--><p>The difference between INV voltage and output voltage exceeds limit.</p>
<ol>
<li>Disconnect the inverter from the utility grid and the PV array, and reconnect it after LED turns off.</li>
<li>If the fault persists, measure the phase to phase voltage and phase to zero and zero to ground voltage with a multimeter to ensure that the voltage is normal and the zero to ground voltage value should not be greater than 10V.</li>
<li>Disconnect the inverter from the utility grid and the PV array, and reconnect it after LED turns off.</li>
</ol>
<p>&nbsp;</p>
<p>If this fault is still being displayed, please contact the service.</p>
</p>
                    </div>
                </li>

                <li>
                	<div class="zsh-faq-title">
                    <h4 class="biji-tit"><!--<i>Q : </i>-->ERROR CODE 5: E5 Surface Insulation Resistance Error</h4>
                    <a class="biji-oth"><button>+</button></a><br />
                    <!--<div class="faqs-boote"></div>--></div>
                    <div class="biji-content">
                        <p><!--<i>A : </i>--><p>In the process of power on and start-up, the insulation impedance of PV + and PV &#8211; to ground is detected. When the detection insulation impedance is less than 200kohm, it is judged as insulation fault.</p>
<ol>
<li>If it happens occasionally, it may be caused by rainy or humid environment. After the fault is eliminated, the inverter can resume normal operation without other actions.</li>
<li>If there is continuous alarm, please check the PV array’s insulation to ground and make sure that the insulation resistance to ground is greater than 1 MΩ. Otherwise, visual inspection of all PV cables and modules. Make sure the grounding connection of the inverter is reliable.</li>
</ol>
<p>&nbsp;</p>
<p>If all above are normal, please contact the service.</p>
</p>
                    </div>
                </li>

                <li>
                	<div class="zsh-faq-title">
                    <h4 class="biji-tit"><!--<i>Q : </i>-->ERROR CODE 6: E6 Surface Insulation Resistance Error</h4>
                    <a class="biji-oth"><button>+</button></a><br />
                    <!--<div class="faqs-boote"></div>--></div>
                    <div class="biji-content">
                        <p><!--<i>A : </i>--><p>In the process of power on and start-up, the insulation impedance of PV + and PV &#8211; to ground is detected. When the detection insulation impedance is less than 200kohm, it is judged as insulation fault.</p>
<ol>
<li>If it happens occasionally, it may be caused by rainy or humid environment. After the fault is eliminated, the inverter can resume normal operation without other actions.</li>
<li>If there is continuous alarm, please check the PV array’s insulation to ground and make sure that the insulation resistance to ground is greater than 1 MΩ. Otherwise, visual inspection of all PV cables and modules. Make sure the grounding connection of the inverter is reliable.</li>
</ol>
<p>If all above are normal, please contact the service.</p>
</p>
                    </div>
                </li>

                <li>
                	<div class="zsh-faq-title">
                    <h4 class="biji-tit"><!--<i>Q : </i>-->ERROR CODE 7: E7 Ground Fault Circuit Interrupter(GFCI) Exceeds Permissible Range</h4>
                    <a class="biji-oth"><button>+</button></a><br />
                    <!--<div class="faqs-boote"></div>--></div>
                    <div class="biji-content">
                        <p><!--<i>A : </i>--><p>Residual current out of permission value range.</p>
<ol>
<li>Make sure the grounding connection of the inverter is reliable.</li>
<li>Make a visual inspection of all PV cables and modules.</li>
</ol>
<p>&nbsp;</p>
<p>If this fault is still shown, contact the service.</p>
</p>
                    </div>
                </li>

                <li>
                	<div class="zsh-faq-title">
                    <h4 class="biji-tit"><!--<i>Q : </i>-->ERROR CODE 8: E8 Inverter Over-temperature</h4>
                    <a class="biji-oth"><button>+</button></a><br />
                    <!--<div class="faqs-boote"></div>--></div>
                    <div class="biji-content">
                        <p><!--<i>A : </i>--><p>Heat sink and internal environment temperature higher than 85 degree.</p>
<p>Please confirm:</p>
<ol>
<li>Whether the airflow to the heat sink is obstructed.</li>
<li>Whether the installation site is in direct sunlight and ambient temperature around the inverter is too high.</li>
</ol>
<p>If all above is normal, contact the service.</p>
</p>
                    </div>
                </li>

                <li>
                	<div class="zsh-faq-title">
                    <h4 class="biji-tit"><!--<i>Q : </i>-->ERROR CODE 9: E9 Utility Grid Disconnected</h4>
                    <a class="biji-oth"><button>+</button></a><br />
                    <!--<div class="faqs-boote"></div>--></div>
                    <div class="biji-content">
                        <p><!--<i>A : </i>--><p>Inverter failed to detect a grid voltage.</p>
<p>If it happens occasionally, it belongs to the short-time abnormality of the power grid, the inverter will return to normal operation after detecting that the power grid is normal, and there is no need to deal with it. If it cannot be recovered for a long time, please confirm:</p>
<ol>
<li>whether the AC circuit breaker is disconnected</li>
<li>whether the AC terminal or fuse is in good contact</li>
<li>whether the power supply line is normal</li>
</ol>
<p>If this fault is still being shown, contact the service.</p>
</p>
                    </div>
                </li>

                <li>
                	<div class="zsh-faq-title">
                    <h4 class="biji-tit"><!--<i>Q : </i>-->ERROR CODE 10: E10 Grid Voltage Exceeds Permissible Range</h4>
                    <a class="biji-oth"><button>+</button></a><br />
                    <!--<div class="faqs-boote"></div>--></div>
                    <div class="biji-content">
                        <p><!--<i>A : </i>--><p>Grid voltage exceeds the stated range in accordance with Local Safety Regulations</p>
<p>If it happens occasionally, it belongs to the short-time abnormality of the power grid, the inverter will return to normal operation after detecting the normal power grid, and there is no need to deal with it.<br />
In case of frequent occurrence but automatic recovery, please confirm if the grid voltage is outside the permissible range due to local grid conditions, try to modify the values of the monitored operational limits after informing the electric utility company first.<br />
If it cannot be recovered for a long time, please confirm:</p>
<ol>
<li>whether the AC circuit breaker is disconnected</li>
<li>whether the AC terminal is in good connection</li>
<li>whether the power supply line is normal</li>
<li>whether the AC cable wiring (such as wire length and wire diameter) complies with the user manual guidance</li>
</ol>
</p>
                    </div>
                </li>


            </ul>
            <div class="pager"><a href='https://www.hypontech.com/faq/' class='current'>1</a><a href='https://www.hypontech.com/faq/page/2/'>2</a><a href="https://www.hypontech.com/faq/page/2/" > Next </a><a href='https://www.hypontech.com/faq/page/2/' class='extend'
title='Jump to last'> Last </a></div>
        </div>
    </div>
	<style type="text/css">
		.biji{ font-weight:bold; border-top:2px solid #ff441b;}
	</style>
    <script>
        $(function() {
            $('#sekecter').val();
            $('#sekecter').change(function(){
               console.log($(this).val());
                $('#faqform').submit();
            });


            $(".biji-content").hide();
            //按钮点击事件
            $(" .biji-oth button").click(function() {
                var txts = $(this).parents("li");
                if ($(this).text() == "+") {
                    $(this).text("×");
                    txts.find(".biji-content").show();
						txts.find(".zsh-faq-title").addClass("biji");
                } else {
                    $(this).text("+");

                    txts.find(".biji-content").hide();
					$(".zsh-faq-title").removeClass("biji");
                }
            })
        });
    </script>
<div style="clear: both;">
</div>
<div id="fd2">
	<div class="fd-n1">
		<div class="container">
			<div class="row">
				<div class="col_lg_19">
					<dl class="fd-dl">
						<dt><a href="">Products</a><b></b></dt>
						<dd>
												<a href="https://www.hypontech.com/product_fenlei/single-on-grid/">Single Phase Grid-tied Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/three-on-grid/">Three Phase Grid-tied Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/energy-storage-inverter/">Energy Storage Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/monitoring/">Monitoring Accessories</a>
												</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Solutions</a><b></b></dt>
						<dd>
												<a href="https://www.hypontech.com/product_solution/">Residential Solutions</a>
												<a href="https://www.hypontech.com/product_solution/">Commercial Solutions</a>
												<a href="https://www.hypontech.com/product_solution/">Monitoring Solutions</a>
												</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Service & Support</a><b></b></dt>
						<dd>
						<a href="https://www.hypontech.com/faq">FAQS</a>
						<!--<a href="https://www.hypontech.com/video">Videos</a>-->
						<a href="https://www.hypontech.com/xiazai">Download</a>
						<a href="https://www.hypontech.com/warranty">Warranty</a>
						<a href="https://www.hypontech.com/enquiries/">Service</a>
						</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Company</a><b></b></dt>
						<dd>
						<a href="https://www.hypontech.com/about-us/">About Us</a>
						<a href="https://www.hypontech.com/category/news/">Latest Press</a>
						<a href="https://www.hypontech.com/case">Case Gallery</a>
						<a href="https://www.hypontech.com/contact/">Contact</a>
						</dd>
					</dl>
					<dl class="fd-dl righe">
						<dt><a href="https://www.hypontech.com/contact/">Contact Us</a><b></b></dt>
						<dd>
						<a class="ienw" style="color: #fff;">China Headquarter</a>
						<a>Address: No. 1508 Xiangjiang Rd, SND, Suzhou 215129</a>
						<a>Email: info@hypontech.com</a>
						<a>Service Email: service@hypontech.com</a>
						<a>Contact No.:+ 86 512 8071 2199</a>
						</dd>
					</dl>
					<dl class="fd-dl righe" style="margin-top: 36px;">
						<dt><a></a></dt>
						<dd>
						<a class="ienw" style="color: #fff;">Australia Office</a>
						<a>Address: Unit 604/7 Jenkins Rd CARLINGFORD NSW 2118</a>
						<a>Contact No.: + 61 (0)2 8054 0377</a>
						</dd>
					</dl>
				</div>
				<div class="col_lg_5">
					<div class="fd-tel2">
						<img src="static/picture/logo.png">
					</div>
					<br/><br/>
					<div class="line-u1">
					</div>
					<div class="pc-rss2">
						<h3>FOLLOW US
						<ul class="social-ic-icons">
							<li class="facebook"><a href="https://www.facebook.com/hypontechsolar"><span></span></a></li>
							<li class="twitter"><a href="https://twitter.com/"><span></span></a></li>
							<li class="inline"><a href="http://instagram.com/"><span></span></a></li>
							<li class="camera"><a href="https://www.linkedin.com"><span></span></a></li>
							<li class="been"><a href="https://weibo.com/"><span></span></a></li>
						</ul>
						</h3>
						<p>
							Copy right@2020 Suzhou HYPONTECH Co.,Ltd All Rights Reserved
						</p>
						<p>
							<a href="https://www.hypontech.com/privary-policy">Privary Policy</a> | <a href="https://www.hypontech.com/rights-claim">Rights Claim</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 手机底部 -->
<div class="col_lg_80">
	<div class="m-lnew">
		<img src="static/picture/logo.png">
	</div>
	<div class="m-lnew2">
		<h3>FOLLOW US
		<ul class="m-lnew3">
			<li><a href="https://www.facebook.com/hypontechsolar"><img src="static/picture/img-sprite_01.png"></a></li>
			<li><a href="https://twitter.com/hypontechsolar"><img src="static/picture/img-sprite_03.png"></a></li>
			<li><a href="http://instagram.com/hypontechsolar"><img src="static/picture/img-sprite_05.png"></a></li>
			<li><a href="https://www.linkedin.com/company/hypontechsolar"><img src="static/picture/img-sprite_07.png"></a></li>
			<li><a href=""><img src="static/picture/img-sprite_09.png"></a></li>
		</ul>
		</h3>
		<p>
			Copy right@2020 Suzhou HYPONTECH Co.,Ltd All Rights Reserved
		</p>
		<p>
			Privary Policy | Rights Claim
		</p>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#sinput').on('keypress',function(event){
            if(event.keyCode == 13){
                var sinput=$(this).val();
                if (sinput){
                    window.location.href="https://www.hypontech.com?s="+sinput;
                }
            }
        });
        $('#minput').on('keypress',function(event){
            if(event.keyCode == 13){
                console.log('aaaa');
                var minput=$(this).val();
                if (sinput){
                    window.location.href="https://www.hypontech.com?s="+minput;
                }
            }
        });
    })
</script>
<script type="text/javascript" src="static/js/kgu.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>
<link rel='stylesheet' id='wp-block-library-css'  href='static/css/style.min.css' type='text/css' media='all' />
<script type='text/javascript' src='static/js/wp-embed.min.js'></script>
</body>
</html>