<!DOCTYPE html>
<html class="js cssanimations csstransitions video audio">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel='https://api.w.org/' href='https://www.hypontech.com/wp-json/' />
<title>PRESS CENTER - Hypontech</title>
<meta name="description" content="" />
<meta name="keywords" content="PRESS CENTER" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="static/css/kgu.reset.css">
<link rel="stylesheet" href="static/css/kgu.less.css">
<link rel="stylesheet" href="static/css/kgu.css">
<link rel="stylesheet" href="static/css/less.css">
<link rel="stylesheet" href="static/css/iconfont.css">
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" async="" src="static/js/ga.js"></script>
<script type="text/javascript" async="" src="static/js/analytics.js"></script>
<script src="static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="static/js/jquery.form.js"></script>
<script src="static/js/kgu.collection.js"></script>
<script src="static/js/kgu.public.js"></script>
<script src="static/js/index.js"></script>
</head>

<body>
<!-- PC端导航 -->
<div id="hd">
	<div class="center">
    <a href="https://www.hypontech.com" class="logo">
        <img src="static/picture/logo.png" alt="" class="logo-normal">
        <img src="static/picture/logo.png" alt="" class="logo-white">
    </a>
    <ul class="nav">
        <li>
            <a href="https://www.hypontech.com" class="v1">HOME</a>
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/product_solution/" class="v1">PRODUCTS & SOLUTIONS</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">

                                                    <dd><a href="https://www.hypontech.com/product_fenlei/single-on-grid/">Single Phase Grid-tied Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/three-on-grid/">Three Phase Grid-tied Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/energy-storage-inverter/">Energy Storage Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/monitoring/">Monitoring Accessories</a></dd>
                                             </dl>
                </div>
            </div>
 <!--           <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/product_solution/">Solutions & Products</a></dd>
                        <dd><a  href="https://www.hypontech.com/product" style="border:none" >Products</a></dd>

                    </dl>
                </div>
            </div> -->
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/service/" class="v1">SUPPORT</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/xiazai">Download</a></dd>
                        <!--<dd><a  href="https://www.hypontech.com/video">Videos</a></dd>-->
                        <dd><a  href="https://www.hypontech.com/faq">FAQS</a></dd>
                        <dd><a  href="https://www.hypontech.com/warranty">Warranty</a></dd>
                        <dd><a  href="https://www.hypontech.com/enquiries/" style="border:none">Enquiries</a></dd>
                    </dl>
                </div>
            </div>
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/about-us/" class="v1">COMPANY</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/about-us/">About Us</a></dd>
                        <dd><a  href="https://www.hypontech.com/category/news/">Press Center</a></dd>
                        <dd ><a  href="https://www.hypontech.com/case" >Case Gallery</a></dd>
                        <dd><a  href="https://www.hypontech.com/contact/" style="border:none">Contact</a></dd>

                    </dl>
                </div>
            </div>
        </li>
    </ul>
    <div class="hdr">
        <div class="top-form">
					<span class="change-lan">
						<a href="" id="btn-lan2" class="cur-lan"><img src="static/picture/zilew.png" alt=""></a>
					</span>
                            <a style="cursor: pointer" class="i-center loginBtn" href="https://www.hypontech.com/login/">
                    <i>Login</i></a>
                <!--<a style="cursor: pointer" class="i-center loginBtn" href="https://www.hypontech.com/register/">
                    <i>Register</i></a>-->
            

				<span class="change-lan change-ipnut"><img src="static/picture/inew.png" alt="">

				</span>
                <span class="change-lan"><a style="cursor: pointer" class="i-center loginBtn"><i>EN/CN</i></a></span>

					<span class="change-lan">
						<a href="https://www.hyponportal.com/signin" id="btn-lan2" class="cur-lan" target="_blank"><img src="static/picture/en-uk.gif" alt=""></a>
					</span>
        </div>
    </div>

    <div class="type-ahead">
        <input type="text" class="type-ahead__input" placeholder="Search..." name="s" id="sinput">
        <span class="type-hide">~</span>
    </div>
</div>
</div>
<script type="text/javascript">

    $(function () {
        $('.change-ipnut').click(function () {
            $('.type-ahead').show();
        });
        $('.type-hide').click(function () {
            $('.type-ahead').hide();
        });
    })

</script>
<style type="text/css">
    .type-hide{ color: #fff; padding: 11px; margin-left: -6px; border: 1px solid #fff; background:#fff url(static/images/index-bane.png) no-repeat; background-position: -4px 8px;}
    .type-ahead{float: right; margin-top: -18px;  display: none; }
    .type-ahead__input {
        padding: 14px 34px 12px 40px;
        border: none;
        border-radius: 0;
        font-size: 14px;
        caret-color: #007991;
        color: #007991;
        outline: none;
        width:500px;
        background:#fff  url(static/images/inew2.png) no-repeat left;
        background-position: 10px 10px;

    }
    .type-hide img{ width: 50px; height: 50px;}
</style>
<!-- 手机导航 -->
<div class="m_header">
    <div class="m_logo">
        <a href="https://www.hypontech.com"><img src="static/picture/logo.jpg" alt=""></a>
    </div>
    <a id="" class="nav_toggle" href="javascript:;">
        <span></span></a>
    <div class="m_nav">
        <ul class="m_nav_list m_nav_toggle">
            <li class="dropdown">
                <a  class="v1" href="https://www.hypontech.com">HOME<i class="iconfont"></i></a>
            </li>
            <li class="dropdown">
                <a  class="v1" href="https://www.hypontech.com/product_solution/residential-solutions/">PRODUCTS&SOLUTIONS <i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/product_solution/residential-solutions/">Solutions & Products</a>
                    <a  href="https://www.hypontech.com/product">Products</a>


                </div>
            </li>
            <li class="dropdown has-sub">
                <a  class="v1" href="">SUPPORT<i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/xiazai">Download</a>
                    <!--<a  href="https://www.hypontech.com/video">Videos</a>-->
                    <a  href="https://www.hypontech.com/faq">FAQS</a>
                    <a  href="">Warranty</a>
                    <a  href="https://www.hypontech.com/enquiries/">Enquiries</a>
                    

                </div>
            </li>
            <li class="dropdown has-sub">
                <a  class="v1" href="https://www.hypontech.com/about-us/">COMPANY<i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/about-us/">About Us</a>
                    <a  href="https://www.hypontech.com/category/news/">Latest Press</a>
                    <a  href="https://www.hypontech.com/case">Case Gallery</a>
                    <a  href="https://www.hypontech.com/contact/">Contact</a>
                </div>
            </li>
        </ul>

    </div>
    <div class="m-type-ahead">
        <input type="text" class="m-type-ahead__input" placeholder="Search..." name="s" id="minput">
        <span class="m-type-hide"></span>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('.m-pop-search').click(function () {
            $('.m-type-ahead').show();
        });
        $('.m-type-hide').click(function () {
            $('.m-type-ahead').hide();
        });
    })

</script>
<style>
    #hd{
        position: absolute;left: 0;top: 0;width: 100%;
        background:url(static/images/banee.png);
    }
</style>
    <div class="ban-banner">
                                    <img src="static/picture/press-center-e1597288779466.jpg" />
    </div>
<style>
    body,html{height: 100%;}
    #hd{
        position: absolute;left: 0;top: 0;width: 100%;
        background:url(static/images/banee.png);
    }
</style>

<div class=" con center-width ">
    <div class="new-top">
        <div class="news-enw">
            <h2 style="border-bottom: 3px solid #F1433C; "><a href="https://www.hypontech.com/category/news/#section-title">PRESS CENTER</a></h2>
            <h2 style="left: 230px;"><a href="https://www.hypontech.com/category/videos/#section-title">VIDEOS</a></h2>
        </div>
        <div class="bor-ew"></div>
        <script src="static/js/responsiveslides.min.js"></script>
        <script>
            $(function() {
                $("#slider5").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    before: function() {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function() {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });
            });
        </script>
        <div id="top" class=" callbacks_container news-none">
            <ul class="rslides" id="slider5">
                                    <li>
                        <img src="static/picture/hpt15-25-970x600.jpg" alt="Hypontech expands HPT 3-Phase series to higher power coverage">
                        <div class="lates-baner">
                            <h3>Hypontech expands HPT 3-Phase series to higher power coverage</h3>
                        </div>
                    </li>
                                    <li>
                        <img src="static/picture/web-970x600.jpg" alt="Hypontech &#8211; One of the 1st Inverter Companies to Pass AEMO&#8217;s VDRT">
                        <div class="lates-baner">
                            <h3>Hypontech &#8211; One of the 1st Inverter Companies to Pass AEMO&#8217;s VDRT</h3>
                        </div>
                    </li>
                                    <li>
                        <img src="static/picture/微信图片_202008090904322-e1597076278810-970x510.jpg" alt="Hypontech at the SNEC PV EXPO 2020: Inverters of Distinction">
                        <div class="lates-baner">
                            <h3>Hypontech at the SNEC PV EXPO 2020: Inverters of Distinction</h3>
                        </div>
                    </li>
                                    <li>
                        <img src="static/picture/_20200713171345-1-e1594891729363-970x600.jpg" alt="SEE YOU AT SNEC PV POWER EXPO">
                        <div class="lates-baner">
                            <h3>SEE YOU AT SNEC PV POWER EXPO</h3>
                        </div>
                    </li>
                            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="latest-bottom">
            <ul>
                                    <li>
                        <div class="news-aie"><img src="static/picture/hps-7-9-169-180x140.jpg" alt="“Heavy Caliber” – Hypontech expands single phase portfolio up to 9kW" /></div>
                        <div class="news-rig">
                            <span>2021-01-11&nbsp;&nbsp;<i>Company News</i></span>
                            <h3>“Heavy Caliber” – Hypontech expands single phase portfolio up to 9kW</h3>
                            <p>Introducing new HPS 7-9 kW, available from January 2021</p>
                            <a href="https://www.hypontech.com/heavy-calibre-hypontech-expands-single-phase-portfolio-up-to-9kw/2021/">>MORE</a>
                        </div>
                    </li>
                                    <li>
                        <div class="news-aie"><img src="static/picture/hpt15-25-180x140.jpg" alt="Hypontech expands HPT 3-Phase series to higher power coverage" /></div>
                        <div class="news-rig">
                            <span>2020-12-14&nbsp;&nbsp;<i>Company News</i></span>
                            <h3>Hypontech expands HPT 3-Phase series to higher power coverage</h3>
                            <p>Power generation doubled with merely any increase to size. The upgraded HPT series are the world’s highest power density 3-Phase inverter, offering an adaptive, smart, and reliable solution to residential and commercial systems. </p>
                            <a href="https://www.hypontech.com/new_hpt_15-25kw/2020/">>MORE</a>
                        </div>
                    </li>
                                    <li>
                        <div class="news-aie"><img src="static/picture/web-1024x512-1-180x140.jpg" alt="Hypontech &#8211; One of the 1st Inverter Companies to Pass AEMO&#8217;s VDRT" /></div>
                        <div class="news-rig">
                            <span>2020-09-07&nbsp;&nbsp;<i>Company News</i></span>
                            <h3>Hypontech &#8211; One of the 1st Inverter Companies to Pass AEMO&#8217;s VDRT</h3>
                            <p>Hypontech's HPS and HPT just passed AEMO's new mandatory test procedure, recently released in South Australia</p>
                            <a href="https://www.hypontech.com/hypontech-one-of-the-1st-inverter-companies-to-pass-aemos-vdrt/2020/">>MORE</a>
                        </div>
                    </li>
                                    <li>
                        <div class="news-aie"><img src="static/picture/微信图片_20200808194337-180x140.jpg" alt="Hypontech at the SNEC PV EXPO 2020: Inverters of Distinction" /></div>
                        <div class="news-rig">
                            <span>2020-08-11&nbsp;&nbsp;<i>Company News</i></span>
                            <h3>Hypontech at the SNEC PV EXPO 2020: Inverters of Distinction</h3>
                            <p>Hypontech has went through 3 unbelievable days at 14th SNEC PV EXPO 2020, demonstrating our latest grid-tied and storage inverter portfolio for residential and commercial solar systems.</p>
                            <a href="https://www.hypontech.com/hypontech-at-the-snec-pv-expo-2020-inverters-of-distinction/2020/">>MORE</a>
                        </div>
                    </li>
                                    <li>
                        <div class="news-aie"><img src="static/picture/图片1-180x140.png" alt="EVERYTHING CUBIC. NEW HPT RELEASE" /></div>
                        <div class="news-rig">
                            <span>2020-06-06&nbsp;&nbsp;<i>Company News</i></span>
                            <h3>EVERYTHING CUBIC. NEW HPT RELEASE</h3>
                            <p>HPT Series: A Powerful New 3-Phase Inverter for Your Home</p>
                            <a href="https://www.hypontech.com/hpt_3_11k_residential/2020/">>MORE</a>
                        </div>
                    </li>
                                    <li>
                        <div class="news-aie"><img src="static/picture/微信图片_20200713171345-180x140.jpg" alt="SEE YOU AT SNEC PV POWER EXPO" /></div>
                        <div class="news-rig">
                            <span>2020-06-06&nbsp;&nbsp;<i>Company News</i></span>
                            <h3>SEE YOU AT SNEC PV POWER EXPO</h3>
                            <p>We're going to SNEC PV EXPO 2020. Come and visit us at Hall E6 Booth002</p>
                            <a href="https://www.hypontech.com/zuckerberg-says-facebook-will-review-content-policies-after-employee-outrage/2020/">>MORE</a>
                        </div>
                    </li>
                                    <li>
                        <div class="news-aie"><img src="static/picture/hpk封面-e1594343436608-180x140.jpg" alt="LIGHT, PLUS." /></div>
                        <div class="news-rig">
                            <span>2020-04-28&nbsp;&nbsp;<i>Company News</i></span>
                            <h3>LIGHT, PLUS.</h3>
                            <p>Hypontech unveils new HPK PV string inverter series.</p>
                            <a href="https://www.hypontech.com/light-plus/2020/">>MORE</a>
                        </div>
                    </li>
                                    <li>
                        <div class="news-aie"><img src="static/picture/cec-member-logo-180x140.jpg" alt="HYPONTECH&#8217;s listing and membership in Australian Clean Energy Council (CEC)" /></div>
                        <div class="news-rig">
                            <span>2019-11-26&nbsp;&nbsp;<i>Company News</i></span>
                            <h3>HYPONTECH&#8217;s listing and membership in Australian Clean Energy Council (CEC)</h3>
                            <p>HYPONTECH&#8217;s HPS Single Phase Inverters have been approved by the Australian Clean Energy Council (CEC). The HYPONTECH company itself also became a CEC member. &nbsp; The approval of CEC signifies the excellence of HPS series, in terms of high reliability, performance and long-term assurance of HYPONTECH inverters. CEC is the peak body for the clean [&hellip;]</p>
                            <a href="https://www.hypontech.com/hypontech-enlisted-in-australian-clean-energy-council-cec/2019/">>MORE</a>
                        </div>
                    </li>
                                    <li>
                        <div class="news-aie"><img src="static/picture/-1-04-e1594885931401.png" alt="Hypontech series of inverters obtained CE certification" /></div>
                        <div class="news-rig">
                            <span>2019-09-16&nbsp;&nbsp;<i>Company News</i></span>
                            <h3>Hypontech series of inverters obtained CE certification</h3>
                            <p>Suzhou Hypontech Co.,Ltd is a technology-based enterprise specializing in the research and development of Solar inverters.Hypontech is committed to building a smart home grid that integrates various renewable energy products based on existing photovoltaic and power grid systems. And we are dedicated to become your E-butler and meet your demands in the most economical way. [&hellip;]</p>
                            <a href="https://www.hypontech.com/hypontech-series-of-inverters-obtained-ce-certification/2019/">>MORE</a>
                        </div>
                    </li>
                            </ul>
            <div class="pager"></div>
        </div>
    </div>
    <div class="new-right">
        <h2>FOLLOW US</h2>
        <ul class="follow-top">
            <li><img src="static/picture/newsic1.jpg"><a href="https://twitter.com/">Twitter</a></li>
            <li><img src="static/picture/newsic2.jpg" ><a href="https://www.facebook.com/">Facebook</a></li>
            <li><img src="static/picture/newsic3.jpg" ><a href="https://youtobe.com/">YouTube</a></li>
            <li><img src="static/picture/newsic4.jpg" ><a href="https://www.linkedin.com">LinkedIn</a></li>
            <!--<li><img src="static/picture/news_13.jpg" ><a href="">Press Feed</a></li>
            <li><img src="static/picture/news_13.jpg" ><a href="">Blog Feed</a></li>-->
        </ul>
        <h2 >EXHIBITION</h2>
        <ul class="exhibition-bottom">
                            <li>
                    <div class="wrapper">
                        <div class="box blury-card" >
                            <img src="static/picture/_20200716155930-e1594886413951-280x160.jpg" alt="">
                            <div class="frame">
                                <h2>SEE YOU AT SNEC PV POWER EXPO</h2>
                                <p>Time: Aug 8-10 2020</p>
                                <p>Stand Number: E6-002</p>
                            </div>
                        </div>
                    </div>
                </li>
            
        </ul>
    </div>
</div>


<div style="clear: both;">
</div>
<div id="fd2">
	<div class="fd-n1">
		<div class="container">
			<div class="row">
				<div class="col_lg_19">
					<dl class="fd-dl">
						<dt><a href="">Products</a><b></b></dt>
						<dd>
												<a href="https://www.hypontech.com/product_fenlei/single-on-grid/">Single Phase Grid-tied Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/three-on-grid/">Three Phase Grid-tied Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/energy-storage-inverter/">Energy Storage Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/monitoring/">Monitoring Accessories</a>
												</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Solutions</a><b></b></dt>
						<dd>
												<a href="https://www.hypontech.com/product_solution/">Residential Solutions</a>
												<a href="https://www.hypontech.com/product_solution/">Commercial Solutions</a>
												<a href="https://www.hypontech.com/product_solution/">Monitoring Solutions</a>
												</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Service & Support</a><b></b></dt>
						<dd>
						<a href="https://www.hypontech.com/faq">FAQS</a>
						<!--<a href="https://www.hypontech.com/video">Videos</a>-->
						<a href="https://www.hypontech.com/xiazai">Download</a>
						<a href="https://www.hypontech.com/warranty">Warranty</a>
						<a href="https://www.hypontech.com/enquiries/">Service</a>
						</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Company</a><b></b></dt>
						<dd>
						<a href="https://www.hypontech.com/about-us/">About Us</a>
						<a href="https://www.hypontech.com/category/news/">Latest Press</a>
						<a href="https://www.hypontech.com/case">Case Gallery</a>
						<a href="https://www.hypontech.com/contact/">Contact</a>
						</dd>
					</dl>
					<dl class="fd-dl righe">
						<dt><a href="https://www.hypontech.com/contact/">Contact Us</a><b></b></dt>
						<dd>
						<a class="ienw" style="color: #fff;">China Headquarter</a>
						<a>Address: No. 1508 Xiangjiang Rd, SND, Suzhou 215129</a>
						<a>Email: info@hypontech.com</a>
						<a>Service Email: service@hypontech.com</a>
						<a>Contact No.:+ 86 512 8071 2199</a>
						</dd>
					</dl>
					<dl class="fd-dl righe" style="margin-top: 36px;">
						<dt><a></a></dt>
						<dd>
						<a class="ienw" style="color: #fff;">Australia Office</a>
						<a>Address: Unit 604/7 Jenkins Rd CARLINGFORD NSW 2118</a>
						<a>Contact No.: + 61 (0)2 8054 0377</a>
						</dd>
					</dl>
				</div>
				<div class="col_lg_5">
					<div class="fd-tel2">
						<img src="static/picture/logo.png">
					</div>
					<br/><br/>
					<div class="line-u1">
					</div>
					<div class="pc-rss2">
						<h3>FOLLOW US
						<ul class="social-ic-icons">
							<li class="facebook"><a href="https://www.facebook.com/hypontechsolar"><span></span></a></li>
							<li class="twitter"><a href="https://twitter.com/"><span></span></a></li>
							<li class="inline"><a href="http://instagram.com/"><span></span></a></li>
							<li class="camera"><a href="https://www.linkedin.com"><span></span></a></li>
							<li class="been"><a href="https://weibo.com/"><span></span></a></li>
						</ul>
						</h3>
						<p>
							Copy right@2020 Suzhou HYPONTECH Co.,Ltd All Rights Reserved
						</p>
						<p>
							<a href="https://www.hypontech.com/privary-policy">Privary Policy</a> | <a href="https://www.hypontech.com/rights-claim">Rights Claim</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 手机底部 -->
<div class="col_lg_80">
	<div class="m-lnew">
		<img src="static/picture/logo.png">
	</div>
	<div class="m-lnew2">
		<h3>FOLLOW US
		<ul class="m-lnew3">
			<li><a href="https://www.facebook.com/hypontechsolar"><img src="static/picture/img-sprite_01.png"></a></li>
			<li><a href="https://twitter.com/hypontechsolar"><img src="static/picture/img-sprite_03.png"></a></li>
			<li><a href="http://instagram.com/hypontechsolar"><img src="static/picture/img-sprite_05.png"></a></li>
			<li><a href="https://www.linkedin.com/company/hypontechsolar"><img src="static/picture/img-sprite_07.png"></a></li>
			<li><a href=""><img src="static/picture/img-sprite_09.png"></a></li>
		</ul>
		</h3>
		<p>
			Copy right@2020 Suzhou HYPONTECH Co.,Ltd All Rights Reserved
		</p>
		<p>
			Privary Policy | Rights Claim
		</p>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#sinput').on('keypress',function(event){
            if(event.keyCode == 13){
                var sinput=$(this).val();
                if (sinput){
                    window.location.href="https://www.hypontech.com?s="+sinput;
                }
            }
        });
        $('#minput').on('keypress',function(event){
            if(event.keyCode == 13){
                console.log('aaaa');
                var minput=$(this).val();
                if (sinput){
                    window.location.href="https://www.hypontech.com?s="+minput;
                }
            }
        });
    })
</script>
<script type="text/javascript" src="static/js/kgu.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>
<link rel='stylesheet' id='wp-block-library-css'  href='static/css/style.min.css' type='text/css' media='all' />
<script type='text/javascript' src='static/js/wp-embed.min.js'></script>
</body>
</html>