<!DOCTYPE html>
<html class="js cssanimations csstransitions video audio">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel='https://api.w.org/' href='https://www.hypontech.com/wp-json/' />
<link rel="alternate" type="application/json+oembed" href="https://www.hypontech.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.hypontech.com%2Fproduct%2Fhpt-311k%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.hypontech.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.hypontech.com%2Fproduct%2Fhpt-311k%2F&#038;format=xml" />
<title>HPT 3~11K - Hypontech</title>
<meta name="description" content="HPT is a feature-rich 3-phase inverter series to upgrade your home solar system, covering 3kW to 11kW with the capability of 50% DC overload. HPT is powered with the latest generation of TI DSP, processing rate at 800 millions of instructions, making the inverter more reliable and highly adaptable at complex grid environment." />
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="static/css/kgu.reset.css">
<link rel="stylesheet" href="static/css/kgu.less.css">
<link rel="stylesheet" href="static/css/kgu.css">
<link rel="stylesheet" href="static/css/less.css">
<link rel="stylesheet" href="static/css/iconfont.css">
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" async="" src="static/js/ga.js"></script>
<script type="text/javascript" async="" src="static/js/analytics.js"></script>
<script src="static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="static/js/jquery.form.js"></script>
<script src="static/js/kgu.collection.js"></script>
<script src="static/js/kgu.public.js"></script>
<script src="static/js/index.js"></script>
</head>

<body>
<!-- PC端导航 -->
<div id="hd">
	<div class="center">
    <a href="https://www.hypontech.com" class="logo">
        <img src="static/picture/logo.png" alt="" class="logo-normal">
        <img src="static/picture/logo.png" alt="" class="logo-white">
    </a>
    <ul class="nav">
        <li>
            <a href="https://www.hypontech.com" class="v1">HOME</a>
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/product_solution/" class="v1">PRODUCTS & SOLUTIONS</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">

                                                    <dd><a href="https://www.hypontech.com/product_fenlei/single-on-grid/">Single Phase Grid-tied Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/three-on-grid/">Three Phase Grid-tied Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/energy-storage-inverter/">Energy Storage Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/monitoring/">Monitoring Accessories</a></dd>
                                             </dl>
                </div>
            </div>
 <!--           <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/product_solution/">Solutions & Products</a></dd>
                        <dd><a  href="https://www.hypontech.com/product" style="border:none" >Products</a></dd>

                    </dl>
                </div>
            </div> -->
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/service/" class="v1">SUPPORT</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/xiazai">Download</a></dd>
                        <!--<dd><a  href="https://www.hypontech.com/video">Videos</a></dd>-->
                        <dd><a  href="https://www.hypontech.com/faq">FAQS</a></dd>
                        <dd><a  href="https://www.hypontech.com/warranty">Warranty</a></dd>
                        <dd><a  href="https://www.hypontech.com/enquiries/" style="border:none">Enquiries</a></dd>
                    </dl>
                </div>
            </div>
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/about-us/" class="v1">COMPANY</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/about-us/">About Us</a></dd>
                        <dd><a  href="https://www.hypontech.com/category/news/">Press Center</a></dd>
                        <dd ><a  href="https://www.hypontech.com/case" >Case Gallery</a></dd>
                        <dd><a  href="https://www.hypontech.com/contact/" style="border:none">Contact</a></dd>

                    </dl>
                </div>
            </div>
        </li>
    </ul>
    <div class="hdr">
        <div class="top-form">
					<span class="change-lan">
						<a href="" id="btn-lan2" class="cur-lan"><img src="static/picture/zilew.png" alt=""></a>
					</span>
                            <a style="cursor: pointer" class="i-center loginBtn" href="https://www.hypontech.com/login/">
                    <i>Login</i></a>
                <!--<a style="cursor: pointer" class="i-center loginBtn" href="https://www.hypontech.com/register/">
                    <i>Register</i></a>-->
            

				<span class="change-lan change-ipnut"><img src="static/picture/inew.png" alt="">

				</span>
                <span class="change-lan"><a style="cursor: pointer" class="i-center loginBtn"><i>EN/CN</i></a></span>

					<span class="change-lan">
						<a href="https://www.hyponportal.com/signin" id="btn-lan2" class="cur-lan" target="_blank"><img src="static/picture/en-uk.gif" alt=""></a>
					</span>
        </div>
    </div>

    <div class="type-ahead">
        <input type="text" class="type-ahead__input" placeholder="Search..." name="s" id="sinput">
        <span class="type-hide">~</span>
    </div>
</div>
</div>
<script type="text/javascript">

    $(function () {
        $('.change-ipnut').click(function () {
            $('.type-ahead').show();
        });
        $('.type-hide').click(function () {
            $('.type-ahead').hide();
        });
    })

</script>
<style type="text/css">
    .type-hide{ color: #fff; padding: 11px; margin-left: -6px; border: 1px solid #fff; background:#fff url(static/images/index-bane.png) no-repeat; background-position: -4px 8px;}
    .type-ahead{float: right; margin-top: -18px;  display: none; }
    .type-ahead__input {
        padding: 14px 34px 12px 40px;
        border: none;
        border-radius: 0;
        font-size: 14px;
        caret-color: #007991;
        color: #007991;
        outline: none;
        width:500px;
        background:#fff  url(static/images/inew2.png) no-repeat left;
        background-position: 10px 10px;

    }
    .type-hide img{ width: 50px; height: 50px;}
</style>
<!-- 手机导航 -->
<div class="m_header">
    <div class="m_logo">
        <a href="https://www.hypontech.com"><img src="static/picture/logo.jpg" alt=""></a>
    </div>
    <a id="" class="nav_toggle" href="javascript:;">
        <span></span></a>
    <div class="m_nav">
        <ul class="m_nav_list m_nav_toggle">
            <li class="dropdown">
                <a  class="v1" href="https://www.hypontech.com">HOME<i class="iconfont"></i></a>
            </li>
            <li class="dropdown">
                <a  class="v1" href="https://www.hypontech.com/product_solution/residential-solutions/">PRODUCTS&SOLUTIONS <i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/product_solution/residential-solutions/">Solutions & Products</a>
                    <a  href="https://www.hypontech.com/product">Products</a>


                </div>
            </li>
            <li class="dropdown has-sub">
                <a  class="v1" href="">SUPPORT<i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/xiazai">Download</a>
                    <!--<a  href="https://www.hypontech.com/video">Videos</a>-->
                    <a  href="https://www.hypontech.com/faq">FAQS</a>
                    <a  href="">Warranty</a>
                    <a  href="https://www.hypontech.com/enquiries/">Enquiries</a>
                    

                </div>
            </li>
            <li class="dropdown has-sub">
                <a  class="v1" href="https://www.hypontech.com/about-us/">COMPANY<i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/about-us/">About Us</a>
                    <a  href="https://www.hypontech.com/category/news/">Latest Press</a>
                    <a  href="https://www.hypontech.com/case">Case Gallery</a>
                    <a  href="https://www.hypontech.com/contact/">Contact</a>
                </div>
            </li>
        </ul>

    </div>
    <div class="m-type-ahead">
        <input type="text" class="m-type-ahead__input" placeholder="Search..." name="s" id="minput">
        <span class="m-type-hide"></span>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('.m-pop-search').click(function () {
            $('.m-type-ahead').show();
        });
        $('.m-type-hide').click(function () {
            $('.m-type-ahead').hide();
        });
    })

</script>
<style>
    #hd{
        position: absolute;left: 0;top: 0;width: 100%;
        background:url(static/images/banee.png);
    }
</style>    <link rel="stylesheet" href="static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="static/css/style3.css" />

<div class="pro-hight"></div>
<div class="con">
	<div class="row">
    	<div class="col-md-12" style="text-align:right; color:#ff441b; text-decoration:underline;"><a href="#" onClick="javascript :history.back(-1);">Return</a></div>
    </div>
</div>
		<div class="con proshow">
				<div class="proshow-left">
		<div class="prosh">
					        <div class="slide-show owl-carousel owl-theme">
																          <div class="slide-content first-slide">
								            <img src="static/picture/hpt_3-11k-769x463.png" alt="">
								     </div>
													        </div>
					    </div>
				</div>
				
				<style>
					
					.prosh .slide-content {
					  
					    position: relative;
					    overflow: hidden;
					}
					
					.prosh .first-slide .caption {
					    text-align: center;
					}
					.prosh .slide-content .caption h2 {
						font-size: 1.2rem;
					padding-bottom: 10px;
					}
					.prosh .owl-theme .owl-dots .owl-dot.active span,
					.owl-theme .owl-dots .owl-dot:hover span {
					    background-color: #e82954;
					}
					
				</style>
				
				<script src="static/js/materialize.js"></script>
				<script src="static/js/owl.carousel.min.js"></script>
				<script src="static/js/main2.js"></script>
		
    <div class="proshow-right">
        <h1>HPT 3~11K</h1>
        <span>HPT is a feature-rich 3-phase inverter series to upgrade your home solar system, covering 3kW to 11kW with the capability of 50% DC overload. HPT is powered with the latest generation of TI DSP, processing rate at 800 millions of instructions, making the inverter more reliable and highly adaptable at complex grid environment. </span>
        <ul>
                                <li>Full Aluminum Alloy Die Casting</li>
                                    <li>IP65 at 14kg</li>
                                    <li>New Generation DSP from TI</li>
                                    <li>Optimized Natural Cooling</li>
                                    <li>Integrated PCBA + Conformal Coating</li>
                                    <li>GPRS / Wi-Fi Plug & Play</li>
                                    <li></li>
                                    </ul>
		<div style="clear: both;"></div>
        <div class="proshow-bottom">
                                <img src="static/picture/renzheng3.png" />
                                    <img src="static/picture/renzheng1.png" />
                                    <img src="static/picture/renzheng2.png" />
                                    <img src="static/picture/renzheng5.png" />
                        </div>
    </div>
</div>
<div style="clear: both;"></div>
        <div class="proshow-center" style="background: url(static/images/proshow_02.jpg) no-repeat center center;">

    <ul class="proshow-topeee">
                        <li>
                    <img src="static/picture/texing1.png">
                    <span>Aluminum Alloy</span>
                    <p>Die Casting</p>
                </li>
                            <li>
                    <img src="static/picture/texing2.png">
                    <span>DC Overload</span>
                    <p>40%</p>
                </li>
                            <li>
                    <img src="static/picture/texing3.png">
                    <span>Peak Efficiency</span>
                    <p>98.2%</p>
                </li>
                            <li>
                    <img src="static/picture/texing4.png">
                    <span>MES+FCT+CRM</span>
                    <p>Infrastructure</p>
                </li>
                            <li>
                    <img src="static/picture/texing5.png">
                    <span>Easy to</span>
                    <p>Install and Service</p>
                </li>
                </ul>

</div>
<style>
	 *{list-style-type: none; padding: 0; margin:0;}
	 .tabtop14  td{color: #fff;padding: 16px;     border: 1px solid #666;}
	 .tabtop14 tr{background-color:#3e3e40;}
	  .tabtop14 tr:hover{background-color: #777777;}
	
	 .btb td{background: #666666;} 
        .font-prow{ padding-left: 20px;}
        .btbg1{background:#f2fbfe !important;}
   
		  .biji-preo{float: right;}
		  .biji-preo button {
    border: none;
    outline: none;
    color: #ff441a;
    font-size: 30px;
    background: #3e3e40;
    border: 2px solid;
    width: 23px;
    height: 23px;
    line-height: 23px;
    border: none;
	    cursor: pointer;
}
</style>

        <div class="prosh-layt ">
            <table class="tabtop14 btb" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg font-prow titfont" rowspan="2" width="26%">Model</td>
<td class="btbg font-prow titfont " rowspan="2" width="10%">HPT-3000</td>
<td class="btbg font-prow titfont proshow-ipo" rowspan="2" width="10%">HPT-4000</td>
<td class="btbg font-prow titfont proshow-ipo" rowspan="2" width="10%">HPT-5000</td>
<td class="btbg font-prow titfont proshow-ipo" rowspan="2" width="10%">HPT-6000</td>
<td class="btbg font-prow titfont proshow-ipo" rowspan="2" width="10%">HPT-8000</td>
<td class="btbg font-prow titfont proshow-ipo" rowspan="2" width="10%">HPT-10000</td>
<td class="btbg font-prow titfont proshow-ipo" rowspan="2" width="10%">HPT-11K</td>
</tr>
</tbody>
</table>
<ul>
<li>
<table class="tabtop14 byew" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" colspan="12"><b>INPUT / DC</b><a class="biji-preo"><button>+</button></a></td>
</tr>
</tbody>
</table>
<div class="faqs-laen"></div>
<div class="biji-proe">
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Max. PV Power / Wp</td>
<td class="btbg2 font-prow" width="10%">4620</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">6160</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">7700</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">8400</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">11500</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">13000</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">13000</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Max. Input Voltage / V</td>
<td class="btbg2 font-prow" width="70%">1000</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">MPP Voltage Range / V</td>
<td class="btbg2 font-prow" width="70%">150-850</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Min. DC Voltage / Start Up Voltage / V</td>
<td class="btbg2 font-prow" width="70%">150/180</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Full Load MPP Voltage Range / V</td>
<td class="btbg2 font-prow" width="30%">210~850</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">250~850</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">330~850</td>
<td class="btbg2 font-prow proshow-ipo" width="20%">410~850</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Nominal DC-Input Voltage / V</td>
<td class="btbg2 font-prow" width="70%">620</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Max. Input Current / A</td>
<td class="btbg2 font-prow" width="70%">13/13</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Max. DC Short Circuit Current / A</td>
<td class="btbg2 font-prow" width="70%">20/20</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">No. of Independent MPPT Inputs</td>
<td class="btbg2 font-prow" width="70%">2</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">No. of PV Strings per MPPT</td>
<td class="btbg2 font-prow" width="70%">1</td>
</div>
</li>
</tr>
</tbody>
</table>
<li>
<table class="tabtop14 byew" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" colspan="12"><b>OUTPUT / AC</b><a class="biji-preo"><button>+</button></a></td>
</tr>
</tbody>
</table>
<div class="faqs-laen"></div>
<div class="biji-proe">
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Rated Power / W</td>
<td class="btbg2 font-prow" width="10%">3000</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">4000</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">5000</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">6000</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">8000</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">10000</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">10500</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Max. Apparent AC Power / VA</td>
<td class="btbg2 font-prow" width="10%">3300</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">4400</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">5500</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">6000</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">8800</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">10000</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">10500</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Rated Grid Voltage / Vac</td>
<td class="btbg2 font-prow" width="70%">380/400 | 3 / 3L-N-PE</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Rated Power Frequency / Hz</td>
<td class="btbg2 font-prow" width="70%">50/60</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Max. Output Current / A</td>
<td class="btbg2 font-prow" width="10%">5</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">6.5</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">8.5</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">9</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">13</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">15.2</td>
<td class="btbg2 font-prow proshow-ipo" width="10%">16</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Power Factor</td>
<td class="btbg2 font-prow" width="70%">0.8ind to 0.8cap</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">THDi @ Rated Power</td>
<td class="btbg2 font-prow" width="70%"><3%</td>
</div>
</li>
</tr>
</tbody>
</table>
<li>
<table class="tabtop14 byew" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" colspan="12"><b>EFFICIENCY</b><a class="biji-preo"><button>+</button></a></td>
</tr>
</tbody>
</table>
<div class="faqs-laen"></div>
<div class="biji-proe">
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Max. Efficiency</td>
<td class="btbg2 font-prow" width="20%">98.0%</td>
<td class="btbg2 font-prow proshow-ipo" width="20%">98.1%</td>
<td class="btbg2 font-prow proshow-ipo" width="30%">98.2%</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Euro. Efficiency</td>
<td class="btbg2 font-prow" width="40%">97.4%</td>
<td class="btbg2 font-prow proshow-ipo" width="30%">97.5%</td>
</div>
</li>
</tr>
</tbody>
</table>
<li>
<table class="tabtop14 byew" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" colspan="12"><b>PROTECTION FUNCTION</b><a class="biji-preo"><button>+</button></a></td>
</tr>
</tbody>
</table>
<div class="faqs-laen"></div>
<div class="biji-proe">
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Anti-Islanding Protection</td>
<td class="btbg2 font-prow" width="70%">Integrated</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Input Reverse Polarity Protection</td>
<td class="btbg2 font-prow" width="70%">Integrated</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Insulation Resistance Detection</td>
<td class="btbg2 font-prow" width="70%">Integrated</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Residual Current Monitoring</td>
<td class="btbg2 font-prow" width="70%">Integrated</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Output Over Current Protection</td>
<td class="btbg2 font-prow" width="70%">Integrated</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Output Short Circuit Protection</td>
<td class="btbg2 font-prow" width="70%">Integrated</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Over Voltage Protection</td>
<td class="btbg2 font-prow" width="70%">II (DC), III (AC)</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Surge Protection</td>
<td class="btbg2 font-prow" width="70%">DC: Optional / AC: Type II</td>
</div>
</li>
</tr>
</tbody>
</table>
<li>
<table class="tabtop14 byew" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" colspan="12"><b>GENERAL DATA</b><a class="biji-preo"><button>+</button></a></td>
</tr>
</tbody>
</table>
<div class="faqs-laen"></div>
<div class="biji-proe">
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Dimensions (W*H*D) / mm</td>
<td class="btbg2 font-prow" width="70%">425*351*160</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Weight / Kg</td>
<td class="btbg2 font-prow" width="40%">13.7</td>
<td class="btbg2 font-prow proshow-ipo" width="30%">14</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Noise Emission (Typical) / dB(A)</td>
<td class="btbg2 font-prow" width="40%"><20</td>
<td class="btbg2 font-prow proshow-ipo" width="30%"><25</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">User Interface</td>
<td class="btbg2 font-prow" width="70%">LCD&#038;LED or LED</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">DC Connection Type</td>
<td class="btbg2 font-prow" width="70%">MC4 (D4, SUNCLIX, H4 optional)</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">AC Connection Type</td>
<td class="btbg2 font-prow" width="70%">Plug-in Connector</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Communication</td>
<td class="btbg2 font-prow" width="70%">RS485/WiFi/GPRS (optional)</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Cooling Method</td>
<td class="btbg2 font-prow" width="70%">Natural Cooling</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Operating Ambient Temperature / ℃</td>
<td class="btbg2 font-prow" width="70%">-25 ~ +60</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Relative Humidity</td>
<td class="btbg2 font-prow" width="70%">0% to 100%</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Max. Operating Altitude / m</td>
<td class="btbg2 font-prow" width="70%">2000 (>2000 Derating)</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Protection class (IEC 60529)</td>
<td class="btbg2 font-prow" width="70%">IP65</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Climatic Category (IEC 60721-3-4)</td>
<td class="btbg2 font-prow" width="70%">4K4H</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Topology</td>
<td class="btbg2 font-prow" width="70%">Transformerless</td>
</tr>
</tbody>
</table>
<table class="tabtop14" border="0" width="100%" cellspacing="1" cellpadding="4" align="center" bgcolor="#cccccc">
<tbody>
<tr>
<td class="btbg2 font-prow" width="26%">Night Consumption / W</td>
<td class="btbg2 font-prow" width="70%"><1</td>
</tr>
</tbody>
</table>
		</div>
<script>
		    $(function(){
	$(".biji-proe").hide();
	$("button").click(function(){
        $('a.biji-preo button').html('+');
        $(this).html('...');
//	    if ($(this).html()=="+"){$(this).html('-')}else{$(this).html('+')}
		  var txts = $(this).parents("li");
		txts.find('.biji-proe').removeClass("menu_chioce");
		$(".menu_chioce").slideUp(); 
		txts.find('.biji-proe').slideToggle();
		txts.find('.biji-proe').addClass("menu_chioce");
		
	});
})
</script>
<div class="con download-bottom ">
    <h2>Download</h2>
    <ul>
        <li>
            <p>Datasheet</p>
                        <a href="/xiazai3?url=https://www.hypontech.com/wp-content/uploads/2021/02/HPT-3-11KW-EN.pdf"><span>HPT 3-11K Datasheet_EN</span></a>
                    </li>
        <li>
            <p>User Manual</p>
                        <a href="/xiazai3?url=https://www.hypontech.com/wp-content/uploads/2020/08/HYPONTECH-WI-FI-STICK-GUIDE-V2.0.0.pdf"><span>HYPONTECH WIFI Stick Configuration Guide EN</span></a>
                        <a href="/xiazai3?url=https://www.hypontech.com/wp-content/uploads/2020/07/User-Manual_EN-HPT-Series-3Phase-Grid-Tied-Photovoltaic-Inverter-4.pdf"><span>HPT 3-11kW User Manual EN</span></a>
                    </li>
        <li>
            <p>Tutorial Video</p>
                    </li>
        <li>
            <p>Quick Installation Guide</p>
                        <a href="/xiazai3?url=https://www.hypontech.com/wp-content/uploads/2020/07/HPT-Quick-Installation-Guide-EN.pdf"><span>HPT 3-11kW Quick Installation Guide EN</span></a>
                    </li>
        <li>
            <p>Certificates</p>
                        <a href="/xiazai3?url=https://www.hypontech.com/wp-content/uploads/2020/07/Cert_Europe_EN-50549-1_HPT-3000-4000-5000-6000-8000-10000_EN.pdf"><span>Cert_Europe_EN-50549-1_HPT-3000-4000-5000-6000-8000-10000_EN</span></a>
                    </li>
        <li>
            <p>Software &amp; Monitoring</p>
                    </li>

    </ul>
</div>

<div style="clear: both;">
</div>
<div id="fd2">
	<div class="fd-n1">
		<div class="container">
			<div class="row">
				<div class="col_lg_19">
					<dl class="fd-dl">
						<dt><a href="">Products</a><b></b></dt>
						<dd>
												<a href="https://www.hypontech.com/product_fenlei/single-on-grid/">Single Phase Grid-tied Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/three-on-grid/">Three Phase Grid-tied Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/energy-storage-inverter/">Energy Storage Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/monitoring/">Monitoring Accessories</a>
												</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Solutions</a><b></b></dt>
						<dd>
												<a href="https://www.hypontech.com/product_solution/">Residential Solutions</a>
												<a href="https://www.hypontech.com/product_solution/">Commercial Solutions</a>
												<a href="https://www.hypontech.com/product_solution/">Monitoring Solutions</a>
												</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Service & Support</a><b></b></dt>
						<dd>
						<a href="https://www.hypontech.com/faq">FAQS</a>
						<!--<a href="https://www.hypontech.com/video">Videos</a>-->
						<a href="https://www.hypontech.com/xiazai">Download</a>
						<a href="https://www.hypontech.com/warranty">Warranty</a>
						<a href="https://www.hypontech.com/enquiries/">Service</a>
						</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Company</a><b></b></dt>
						<dd>
						<a href="https://www.hypontech.com/about-us/">About Us</a>
						<a href="https://www.hypontech.com/category/news/">Latest Press</a>
						<a href="https://www.hypontech.com/case">Case Gallery</a>
						<a href="https://www.hypontech.com/contact/">Contact</a>
						</dd>
					</dl>
					<dl class="fd-dl righe">
						<dt><a href="https://www.hypontech.com/contact/">Contact Us</a><b></b></dt>
						<dd>
						<a class="ienw" style="color: #fff;">China Headquarter</a>
						<a>Address: No. 1508 Xiangjiang Rd, SND, Suzhou 215129</a>
						<a>Email: info@hypontech.com</a>
						<a>Service Email: service@hypontech.com</a>
						<a>Contact No.:+ 86 512 8071 2199</a>
						</dd>
					</dl>
					<dl class="fd-dl righe" style="margin-top: 36px;">
						<dt><a></a></dt>
						<dd>
						<a class="ienw" style="color: #fff;">Australia Office</a>
						<a>Address: Unit 604/7 Jenkins Rd CARLINGFORD NSW 2118</a>
						<a>Contact No.: + 61 (0)2 8054 0377</a>
						</dd>
					</dl>
				</div>
				<div class="col_lg_5">
					<div class="fd-tel2">
						<img src="static/picture/logo.png">
					</div>
					<br/><br/>
					<div class="line-u1">
					</div>
					<div class="pc-rss2">
						<h3>FOLLOW US
						<ul class="social-ic-icons">
							<li class="facebook"><a href="https://www.facebook.com/hypontechsolar"><span></span></a></li>
							<li class="twitter"><a href="https://twitter.com/"><span></span></a></li>
							<li class="inline"><a href="http://instagram.com/"><span></span></a></li>
							<li class="camera"><a href="https://www.linkedin.com"><span></span></a></li>
							<li class="been"><a href="https://weibo.com/"><span></span></a></li>
						</ul>
						</h3>
						<p>
							Copy right@2020 Suzhou HYPONTECH Co.,Ltd All Rights Reserved
						</p>
						<p>
							<a href="https://www.hypontech.com/privary-policy">Privary Policy</a> | <a href="https://www.hypontech.com/rights-claim">Rights Claim</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 手机底部 -->
<div class="col_lg_80">
	<div class="m-lnew">
		<img src="static/picture/logo.png">
	</div>
	<div class="m-lnew2">
		<h3>FOLLOW US
		<ul class="m-lnew3">
			<li><a href="https://www.facebook.com/hypontechsolar"><img src="static/picture/img-sprite_01.png"></a></li>
			<li><a href="https://twitter.com/hypontechsolar"><img src="static/picture/img-sprite_03.png"></a></li>
			<li><a href="http://instagram.com/hypontechsolar"><img src="static/picture/img-sprite_05.png"></a></li>
			<li><a href="https://www.linkedin.com/company/hypontechsolar"><img src="static/picture/img-sprite_07.png"></a></li>
			<li><a href=""><img src="static/picture/img-sprite_09.png"></a></li>
		</ul>
		</h3>
		<p>
			Copy right@2020 Suzhou HYPONTECH Co.,Ltd All Rights Reserved
		</p>
		<p>
			Privary Policy | Rights Claim
		</p>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#sinput').on('keypress',function(event){
            if(event.keyCode == 13){
                var sinput=$(this).val();
                if (sinput){
                    window.location.href="https://www.hypontech.com?s="+sinput;
                }
            }
        });
        $('#minput').on('keypress',function(event){
            if(event.keyCode == 13){
                console.log('aaaa');
                var minput=$(this).val();
                if (sinput){
                    window.location.href="https://www.hypontech.com?s="+minput;
                }
            }
        });
    })
</script>
<script type="text/javascript" src="static/js/kgu.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>
<link rel='stylesheet' id='wp-block-library-css'  href='static/css/style.min.css' type='text/css' media='all' />
<script type='text/javascript' src='static/js/wp-embed.min.js'></script>
</body>
</html>