<!DOCTYPE html>
<html class="js cssanimations csstransitions video audio">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel='https://api.w.org/' href='https://www.hypontech.com/wp-json/' />
<title>Warranty - Hypontech</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="static/css/kgu.reset.css">
    <link rel="stylesheet" href="static/css/kgu.less.css">
    <link rel="stylesheet" href="static/css/kgu.css">
    <link rel="stylesheet" href="static/css/less.css">
    <link rel="stylesheet" href="static/css/iconfont.css">
    <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="static/css/zsh-css.css">
    <script type="text/javascript" async="" src="static/js/ga.js"></script>
    <script type="text/javascript" async="" src="static/js/analytics.js"></script>
    <script src="static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.form.js"></script>
    <script src="static/js/kgu.collection.js"></script>
    <script src="static/js/kgu.public.js"></script>
    <script src="static/js/index.js"></script>
</head>

<body>
<!-- PC端导航 -->
<div id="hd">
	<div class="center">
    <a href="https://www.hypontech.com" class="logo">
        <img src="static/picture/logo.png" alt="" class="logo-normal">
        <img src="static/picture/logo.png" alt="" class="logo-white">
    </a>
    <ul class="nav">
        <li>
            <a href="https://www.hypontech.com" class="v1">HOME</a>
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/product_solution/" class="v1">PRODUCTS & SOLUTIONS</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">

                                                    <dd><a href="https://www.hypontech.com/product_fenlei/single-on-grid/">Single Phase Grid-tied Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/three-on-grid/">Three Phase Grid-tied Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/energy-storage-inverter/">Energy Storage Inverter</a></dd>
                                                 <dd><a href="https://www.hypontech.com/product_fenlei/monitoring/">Monitoring Accessories</a></dd>
                                             </dl>
                </div>
            </div>
 <!--           <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/product_solution/">Solutions & Products</a></dd>
                        <dd><a  href="https://www.hypontech.com/product" style="border:none" >Products</a></dd>

                    </dl>
                </div>
            </div> -->
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/service/" class="v1">SUPPORT</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/xiazai">Download</a></dd>
                        <!--<dd><a  href="https://www.hypontech.com/video">Videos</a></dd>-->
                        <dd><a  href="https://www.hypontech.com/faq">FAQS</a></dd>
                        <dd><a  href="https://www.hypontech.com/warranty">Warranty</a></dd>
                        <dd><a  href="https://www.hypontech.com/enquiries/" style="border:none">Enquiries</a></dd>
                    </dl>
                </div>
            </div>
        </li>
        <li class="posr">
            <a href="https://www.hypontech.com/about-us/" class="v1">COMPANY</a>
            <div class="sub-pro">
                <div class="wp">
                    <dl class="nav-a">
                        <dd><a  href="https://www.hypontech.com/about-us/">About Us</a></dd>
                        <dd><a  href="https://www.hypontech.com/category/news/">Press Center</a></dd>
                        <dd ><a  href="https://www.hypontech.com/case" >Case Gallery</a></dd>
                        <dd><a  href="https://www.hypontech.com/contact/" style="border:none">Contact</a></dd>

                    </dl>
                </div>
            </div>
        </li>
    </ul>
    <div class="hdr">
        <div class="top-form">
					<span class="change-lan">
						<a href="" id="btn-lan2" class="cur-lan"><img src="static/picture/zilew.png" alt=""></a>
					</span>
                            <a style="cursor: pointer" class="i-center loginBtn" href="https://www.hypontech.com/login/">
                    <i>Login</i></a>
                <!--<a style="cursor: pointer" class="i-center loginBtn" href="https://www.hypontech.com/register/">
                    <i>Register</i></a>-->
            

				<span class="change-lan change-ipnut"><img src="static/picture/inew.png" alt="">

				</span>
                <span class="change-lan"><a style="cursor: pointer" class="i-center loginBtn"><i>EN/CN</i></a></span>

					<span class="change-lan">
						<a href="https://www.hyponportal.com/signin" id="btn-lan2" class="cur-lan" target="_blank"><img src="static/picture/en-uk.gif" alt=""></a>
					</span>
        </div>
    </div>

    <div class="type-ahead">
        <input type="text" class="type-ahead__input" placeholder="Search..." name="s" id="sinput">
        <span class="type-hide">~</span>
    </div>
</div>
</div>
<script type="text/javascript">

    $(function () {
        $('.change-ipnut').click(function () {
            $('.type-ahead').show();
        });
        $('.type-hide').click(function () {
            $('.type-ahead').hide();
        });
    })

</script>
<style type="text/css">
    .type-hide{ color: #fff; padding: 11px; margin-left: -6px; border: 1px solid #fff; background:#fff url(static/images/index-bane.png) no-repeat; background-position: -4px 8px;}
    .type-ahead{float: right; margin-top: -18px;  display: none; }
    .type-ahead__input {
        padding: 14px 34px 12px 40px;
        border: none;
        border-radius: 0;
        font-size: 14px;
        caret-color: #007991;
        color: #007991;
        outline: none;
        width:500px;
        background:#fff  url(static/images/inew2.png) no-repeat left;
        background-position: 10px 10px;

    }
    .type-hide img{ width: 50px; height: 50px;}
</style>
<!-- 手机导航 -->
<div class="m_header">
    <div class="m_logo">
        <a href="https://www.hypontech.com"><img src="static/picture/logo.jpg" alt=""></a>
    </div>
	<div class="m-pop-search"><i class="iconfont icon-sousuo"></i></div>
	<a target="_blank" href="" class="i-center"><i class="iconfont icon-denglu"></i></a> 
	
    <a id="" class="nav_toggle" href="javascript:;">
        <span></span></a>
    <div class="m_nav">
        <ul class="m_nav_list m_nav_toggle">
            <li class="dropdown">
                <a  class="v1" href="https://www.hypontech.com">HOME<i class="iconfont"></i></a>
            </li>
            <li class="dropdown">
                <a  class="v1" href="https://www.hypontech.com/product_solution/residential-solutions/">PRODUCTS&SOLUTIONS <i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/product_solution/residential-solutions/">Solutions & Products</a>
                    <a  href="https://www.hypontech.com/product">Products</a>


                </div>
            </li>
            <li class="dropdown has-sub">
                <a  class="v1" href="">SUPPORT<i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/xiazai">Download</a>
                    <!--<a  href="https://www.hypontech.com/video">Videos</a>-->
                    <a  href="https://www.hypontech.com/faq">FAQS</a>
                    <a  href="https://www.hypontech.com/warranty">Warranty</a>
                    <a  href="https://www.hypontech.com/enquiries/">Enquiries</a>
                    

                </div>
            </li>
            <li class="dropdown has-sub">
                <a  class="v1" href="https://www.hypontech.com/about-us/">COMPANY<i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a  href="https://www.hypontech.com/about-us/">About Us</a>
                    <a  href="https://www.hypontech.com/category/news/">Latest Press</a>
                    <a  href="https://www.hypontech.com/case">Case Gallery</a>
                    <a  href="https://www.hypontech.com/contact/">Contact</a>
                </div>
            </li>
        </ul>

    </div>
<div class="m-type-ahead">
    <input type="text" class="m-type-ahead__input" placeholder="Search..." name="s" id="minput">
						<span class="m-type-hide"></span>
					</div>
</div>

		<script type="text/javascript">
		
			    $(function () {
			        $('.m-pop-search').click(function () {
			            $('.m-type-ahead').show();
			        });
			        $('.m-type-hide').click(function () {
			            $('.m-type-ahead').hide();
			        });
			    })
			
		</script>
<style>
    #hd{
        position: absolute;left: 0;top: 0;width: 100%; position: fixed;
        background:url(static/images/banee.png);
    }
</style>


<div class="ban-banner">

        
        
    
    <img src="static/picture/banner_warranty.jpg" />



</div>

<style>

    #hd{

        position: absolute;left: 0;top: 0;width: 100%;

        background:url(static/images/banee.png);

    }

</style>



<style>

	.grid-warranty-top{float: left; color: #ccc; }

	.grid-warranty-top p{ padding-bottom: 30px;}



	.warranty-center{padding-top: 50px; margin:auto; border: 2px #fff solid;     display: flow-root; margin-bottom: 10px;}

	.warranty-center h2{text-align: center; color: #fff; margin-bottom: 30px;}

	.warranty-center input{ font-size: 18px; background: #fff; height: 60px;width: 100%; margin-bottom: 20px;}

	.warranty-center span{color: #fff;float: right; height: 50px; line-height: 50px; padding-right: 20px;}

	.warranty-center button{background: #ff4419; padding: 14px 70px; border: none; color: #fff; float: right;}

	.warranty-bottom{color: #fff; margin-top: 50px;margin:auto;border:2px #fff solid;     display: flow-root;}

	.warranty-bottom ul li{margin-bottom: 0;}

	.warr-loq{width: 100%; background: #252525; height: 60px; line-height: 60px; margin: auto;}

	.warr-yue{width: 100%; background: #666666; height: 60px; line-height: 60px; margin: auto;}

	.warr-loq span, .warr-yue span{width: 50%;display: inline-block; text-align: center;}

	.wa-ba-but{margin-top: 20px;    text-align: center;}

	.wa-ba-but button{background: #ff4419; padding: 14px 70px; border: none; color: #fff; text-align: center;}
	
	#exte, #dowm{display:inline-block;}
	#exte a, #dowm a{ background: #ff4419; padding: 12px 50px; margin:10px 5px 0px 5px; border: none; color: #fff; text-align: center;}

</style>

            <div class="section-title">

                <h2>WARRANTY</h2>

                    <span class="line"></span>

            </div>

            <!--<div class=" con grid-warranty-right">

					<div class="grid-warranty-top top-warranty-grid">

                        <p class="para">We create a smart solar solution, bringing real progress to the renewable energy era/to a renewable world &#8211; We are energizing the future for everyone, to everywhere they go.</p>
<p class="para">HYPONTECH is driving the world forward with an exciting portfolio of PV string and storage inverters, as well as smart energy management solutions. Our products have been delivered and tested in environments over the globe, in 50 more countries of 6 continents.</p>
<p class="para">With decades of experience tackling the biggest challenges in solar industry, HYPONTECH believes that a portfolio&#8217;s reliability and quality comes from highly standardized technology and supply chain. Our R&amp;D and manufacturing team combine high level of expertise with advanced infrastructures, to produce a flexible solution at an assured quality and affordable price&#8230;.</p>

					</div>

						<img class=" img-responsive warranty-men-top" src="" alt="">

		    </div>-->



				<div style="clear: both;"></div>

				<div class="con">

		        <div class="warranty-center">

		        	<h2>Warranty Check</h2>

		        	<input type="text" name="sn" id="sn" />



		        	<button id="snsubmit">SUBMIT</button>

		        	<span class="">

		        		Please input 16 digits Serial Number on the product label.

		        	</span>

		        </div>

		        <div style="clear: both;"></div>

		        <div class="warranty-bottom">

		        	<ul>

		        		<li class="warr-loq"><span>S/N Number</span><span>Model</span></li>

		        		<li class="warr-yue"><span id="sn"></span><span id="model"></span></li>

		        		<li class="warr-loq"><span>Warranty Starts from:</span><span>Warranty Ends at:</span></li>

		        		<li class="warr-yue"><span id="start"></span><span id="end"></span></li>

		        	</ul>

		        	<div style="clear: both;"></div>

		        	<div class="wa-ba-but">

		        			<div id="exte"><a href="mailto:service@hypontech.com">Extend</a></div><div  id="dowm"></div>

		        	</div>

		        </div>

		        </div>



		        <script type="text/javascript">

		        $(document).ready(function(){

                    $('#snsubmit').click(function(){

                        var sn=$('#sn').val();

                        if (sn.length!=16){

                            alert('Please input 16 digits Serial Number on the product label');

                        }else{

                            $('span#sn').html(sn);

                            $.post('/dowarranty',{sn:sn},function(data){

                                var json = eval("(" + data+ ")");

                                var model = json.model;

                                var start = json.start;

                                var end = json.end;

                               var url = `<a href="http://warranty.hypontech.com/?title=${sn}" target="_blank">Download</a>`;

                                $('span#model').html(model);

                                $('span#start').html(start);

                                $('span#end').html(end);

                                $('#dowm').html(url);

                            });

                        }

                    });

		        })

		        </script>



<div style="clear: both;">
</div>
<div id="fd2">
	<div class="fd-n1">
		<div class="container">
			<div class="row">
				<div class="col_lg_19">
					<dl class="fd-dl">
						<dt><a href="">Products</a><b></b></dt>
						<dd>
												<a href="https://www.hypontech.com/product_fenlei/single-on-grid/">Single Phase Grid-tied Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/three-on-grid/">Three Phase Grid-tied Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/energy-storage-inverter/">Energy Storage Inverter</a>
												<a href="https://www.hypontech.com/product_fenlei/monitoring/">Monitoring Accessories</a>
												</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Solutions</a><b></b></dt>
						<dd>
												<a href="https://www.hypontech.com/product_solution/">Residential Solutions</a>
												<a href="https://www.hypontech.com/product_solution/">Commercial Solutions</a>
												<a href="https://www.hypontech.com/product_solution/">Monitoring Solutions</a>
												</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Service & Support</a><b></b></dt>
						<dd>
						<a href="https://www.hypontech.com/faq">FAQS</a>
						<!--<a href="https://www.hypontech.com/video">Videos</a>-->
						<a href="https://www.hypontech.com/xiazai">Download</a>
						<a href="https://www.hypontech.com/warranty">Warranty</a>
						<a href="https://www.hypontech.com/enquiries/">Service</a>
						</dd>
					</dl>
					<dl class="fd-dl">
						<dt><a href="">Company</a><b></b></dt>
						<dd>
						<a href="https://www.hypontech.com/about-us/">About Us</a>
						<a href="https://www.hypontech.com/category/news/">Latest Press</a>
						<a href="https://www.hypontech.com/case">Case Gallery</a>
						<a href="https://www.hypontech.com/contact/">Contact</a>
						</dd>
					</dl>
					<dl class="fd-dl righe">
						<dt><a href="https://www.hypontech.com/contact/">Contact Us</a><b></b></dt>
						<dd>
						<a class="ienw" style="color: #fff;">China Headquarter</a>
						<a>Address: No. 1508 Xiangjiang Rd, SND, Suzhou 215129</a>
						<a>Email: info@hypontech.com</a>
						<a>Service Email: service@hypontech.com</a>
						<a>Contact No.:+ 86 512 8071 2199</a>
						</dd>
					</dl>
					<dl class="fd-dl righe" style="margin-top: 36px;">
						<dt><a></a></dt>
						<dd>
						<a class="ienw" style="color: #fff;">Australia Office</a>
						<a>Address: Unit 604/7 Jenkins Rd CARLINGFORD NSW 2118</a>
						<a>Contact No.: + 61 (0)2 8054 0377</a>
						</dd>
					</dl>
				</div>
				<div class="col_lg_5">
					<div class="fd-tel2">
						<img src="static/picture/logo.png">
					</div>
					<br/><br/>
					<div class="line-u1">
					</div>
					<div class="pc-rss2">
						<h3>FOLLOW US
						<ul class="social-ic-icons">
							<li class="facebook"><a href="https://www.facebook.com/hypontechsolar"><span></span></a></li>
							<li class="twitter"><a href="https://twitter.com/"><span></span></a></li>
							<li class="inline"><a href="http://instagram.com/"><span></span></a></li>
							<li class="camera"><a href="https://www.linkedin.com"><span></span></a></li>
							<li class="been"><a href="https://weibo.com/"><span></span></a></li>
						</ul>
						</h3>
						<p>
							Copy right@2020 Suzhou HYPONTECH Co.,Ltd All Rights Reserved
						</p>
						<p>
							<a href="https://www.hypontech.com/privary-policy">Privary Policy</a> | <a href="https://www.hypontech.com/rights-claim">Rights Claim</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 手机底部 -->
<div class="col_lg_80">
	<div class="m-lnew">
		<img src="static/picture/logo.png">
	</div>
	<div class="m-lnew2">
		<h3>FOLLOW US
		<ul class="m-lnew3">
			<li><a href="https://www.facebook.com/hypontechsolar"><img src="static/picture/img-sprite_01.png"></a></li>
			<li><a href="https://twitter.com/hypontechsolar"><img src="static/picture/img-sprite_03.png"></a></li>
			<li><a href="http://instagram.com/hypontechsolar"><img src="static/picture/img-sprite_05.png"></a></li>
			<li><a href="https://www.linkedin.com/company/hypontechsolar"><img src="static/picture/img-sprite_07.png"></a></li>
			<li><a href=""><img src="static/picture/img-sprite_09.png"></a></li>
		</ul>
		</h3>
		<p>
			Copy right@2020 Suzhou HYPONTECH Co.,Ltd All Rights Reserved
		</p>
		<p>
			Privary Policy | Rights Claim
		</p>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#sinput').on('keypress',function(event){
            if(event.keyCode == 13){
                var sinput=$(this).val();
                if (sinput){
                    window.location.href="https://www.hypontech.com?s="+sinput;
                }
            }
        });
        $('#minput').on('keypress',function(event){
            if(event.keyCode == 13){
                console.log('aaaa');
                var minput=$(this).val();
                if (sinput){
                    window.location.href="https://www.hypontech.com?s="+minput;
                }
            }
        });
    })
</script>
<script type="text/javascript" src="static/js/kgu.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>
<link rel='stylesheet' id='wp-block-library-css'  href='static/css/style.min.css' type='text/css' media='all' />
<script type='text/javascript' src='static/js/wp-embed.min.js'></script>
</body>
</html>