<!DOCTYPE html>
<html class="js cssanimations csstransitions video audio">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='https://api.w.org/' href='https://www.hypontech.com/wp-json/'/>
    <link rel="alternate" type="application/json+oembed"
          href="https://www.hypontech.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.hypontech.com%2Fproduct_solution%2F"/>
    <link rel="alternate" type="text/xml+oembed"
          href="https://www.hypontech.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.hypontech.com%2Fproduct_solution%2F&#038;format=xml"/>
    <title>Products &#038; Solutions - Hypontech</title>
    <meta name="description" content="请不要删除这个页面"/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="static/css/kgu.reset.css">
    <link rel="stylesheet" href="static/css/kgu.less.css">
    <link rel="stylesheet" href="static/css/kgu.css">
    <link rel="stylesheet" href="static/css/less.css">
    <link rel="stylesheet" href="static/css/iconfont.css">
    <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="static/css/zsh-css.css">
    <script type="text/javascript" async="" src="static/js/ga.js"></script>
    <script type="text/javascript" async="" src="static/js/analytics.js"></script>
    <script src="static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.form.js"></script>
    <script src="static/js/kgu.collection.js"></script>
    <script src="static/js/kgu.public.js"></script>
    <script src="static/js/index.js"></script>
</head>

<body>
<!-- PC端导航 -->
<div id="hd">
    <div class="center">
        <a href="https://www.hypontech.com" class="logo">
            <img src="static/picture/logo.png" alt="" class="logo-normal">
            <img src="static/picture/logo.png" alt="" class="logo-white">
        </a>
        <ul class="nav">
            <li>
                <a href="https://www.hypontech.com" class="v1">HOME</a>
            </li>
            <li class="posr">
                <a href="https://www.hypontech.com/product_solution/" class="v1">PRODUCTS & SOLUTIONS</a>
                <div class="sub-pro">
                    <div class="wp">
                        <dl class="nav-a">

                            <dd><a href="https://www.hypontech.com/product_fenlei/single-on-grid/">Single Phase
                                Grid-tied Inverter</a></dd>
                            <dd><a href="https://www.hypontech.com/product_fenlei/three-on-grid/">Three Phase Grid-tied
                                Inverter</a></dd>
                            <dd><a href="https://www.hypontech.com/product_fenlei/energy-storage-inverter/">Energy
                                Storage Inverter</a></dd>
                            <dd><a href="https://www.hypontech.com/product_fenlei/monitoring/">Monitoring
                                Accessories</a></dd>
                        </dl>
                    </div>
                </div>
                <!--           <div class="sub-pro">
                               <div class="wp">
                                   <dl class="nav-a">
                                       <dd><a  href="https://www.hypontech.com/product_solution/">Solutions & Products</a></dd>
                                       <dd><a  href="https://www.hypontech.com/product" style="border:none" >Products</a></dd>

                                   </dl>
                               </div>
                           </div> -->
            </li>
            <li class="posr">
                <a href="https://www.hypontech.com/service/" class="v1">SUPPORT</a>
                <div class="sub-pro">
                    <div class="wp">
                        <dl class="nav-a">
                            <dd><a href="https://www.hypontech.com/xiazai">Download</a></dd>
                            <!--<dd><a  href="https://www.hypontech.com/video">Videos</a></dd>-->
                            <dd><a href="https://www.hypontech.com/faq">FAQS</a></dd>
                            <dd><a href="https://www.hypontech.com/warranty">Warranty</a></dd>
                            <dd><a href="https://www.hypontech.com/enquiries/" style="border:none">Enquiries</a></dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li class="posr">
                <a href="https://www.hypontech.com/about-us/" class="v1">COMPANY</a>
                <div class="sub-pro">
                    <div class="wp">
                        <dl class="nav-a">
                            <dd><a href="https://www.hypontech.com/about-us/">About Us</a></dd>
                            <dd><a href="https://www.hypontech.com/category/news/">Press Center</a></dd>
                            <dd><a href="https://www.hypontech.com/case">Case Gallery</a></dd>
                            <dd><a href="https://www.hypontech.com/contact/" style="border:none">Contact</a></dd>

                        </dl>
                    </div>
                </div>
            </li>
        </ul>
        <div class="hdr">
            <div class="top-form">
					<span class="change-lan">
						<a href="" id="btn-lan2" class="cur-lan"><img src="static/picture/zilew.png" alt=""></a>
					</span>
                <a style="cursor: pointer" class="i-center loginBtn" href="https://www.hypontech.com/login/">
                    <i>Login</i></a>
                <!--<a style="cursor: pointer" class="i-center loginBtn" href="https://www.hypontech.com/register/">
                    <i>Register</i></a>-->


                <span class="change-lan change-ipnut"><img src="static/picture/inew.png" alt="">

				</span>
                <span class="change-lan"><a style="cursor: pointer" class="i-center loginBtn"><i>EN/CN</i></a></span>

                <span class="change-lan">
						<a href="https://www.hyponportal.com/signin" id="btn-lan2" class="cur-lan" target="_blank"><img
                            src="static/picture/en-uk.gif" alt=""></a>
					</span>
            </div>
        </div>

        <div class="type-ahead">
            <input type="text" class="type-ahead__input" placeholder="Search..." name="s" id="sinput">
            <span class="type-hide">~</span>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        $('.change-ipnut').click(function () {
            $('.type-ahead').show();
        });
        $('.type-hide').click(function () {
            $('.type-ahead').hide();
        });
    })

</script>
<style type="text/css">
    .type-hide {
        color: #fff;
        padding: 11px;
        margin-left: -6px;
        border: 1px solid #fff;
        background: #fff url(static/images/index-bane.png) no-repeat;
        background-position: -4px 8px;
    }

    .type-ahead {
        float: right;
        margin-top: -18px;
        display: none;
    }

    .type-ahead__input {
        padding: 14px 34px 12px 40px;
        border: none;
        border-radius: 0;
        font-size: 14px;
        caret-color: #007991;
        color: #007991;
        outline: none;
        width: 500px;
        background: #fff url(static/images/inew2.png) no-repeat left;
        background-position: 10px 10px;

    }

    .type-hide img {
        width: 50px;
        height: 50px;
    }
</style>
<!-- 手机导航 -->
<div class="m_header">
    <div class="m_logo">
        <a href="https://www.hypontech.com"><img src="static/picture/logo.jpg" alt=""></a>
    </div>
    <div class="m-pop-search"><i class="iconfont icon-sousuo"></i></div>
    <a target="_blank" href="" class="i-center"><i class="iconfont icon-denglu"></i></a>

    <a id="" class="nav_toggle" href="javascript:;">
        <span></span></a>
    <div class="m_nav">
        <ul class="m_nav_list m_nav_toggle">
            <li class="dropdown">
                <a class="v1" href="https://www.hypontech.com">HOME<i class="iconfont"></i></a>
            </li>
            <li class="dropdown">
                <a class="v1" href="https://www.hypontech.com/product_solution/residential-solutions/">PRODUCTS&SOLUTIONS
                    <i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a href="https://www.hypontech.com/product_solution/residential-solutions/">Solutions & Products</a>
                    <a href="https://www.hypontech.com/product">Products</a>


                </div>
            </li>
            <li class="dropdown has-sub">
                <a class="v1" href="">SUPPORT<i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a href="https://www.hypontech.com/xiazai">Download</a>
                    <!--<a  href="https://www.hypontech.com/video">Videos</a>-->
                    <a href="https://www.hypontech.com/faq">FAQS</a>
                    <a href="https://www.hypontech.com/warranty">Warranty</a>
                    <a href="https://www.hypontech.com/enquiries/">Enquiries</a>


                </div>
            </li>
            <li class="dropdown has-sub">
                <a class="v1" href="https://www.hypontech.com/about-us/">COMPANY<i class="iconfont icon-icon-test"> </i></a>
                <div class="m-sub">
                    <span>Backward</span>
                    <a href="https://www.hypontech.com/about-us/">About Us</a>
                    <a href="https://www.hypontech.com/category/news/">Latest Press</a>
                    <a href="https://www.hypontech.com/case">Case Gallery</a>
                    <a href="https://www.hypontech.com/contact/">Contact</a>
                </div>
            </li>
        </ul>

    </div>
    <div class="m-type-ahead">
        <input type="text" class="m-type-ahead__input" placeholder="Search..." name="s" id="minput">
        <span class="m-type-hide"></span>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('.m-pop-search').click(function () {
            $('.m-type-ahead').show();
        });
        $('.m-type-hide').click(function () {
            $('.m-type-ahead').hide();
        });
    })

</script>
<style>
    #hd {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        position: fixed;
        background: url(static/images/banee.png);
    }
</style>
<div class="ban-banner">
    <img src="static/picture/_20200731173253-e1596188191196.jpg"/>
</div>
<style>
    body, html {
        height: 100%;
    }

    #hd {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: url(static/images/banee.png);
    }
</style>

<div class="section-title">
    <h2>PRODUCTS & SOLUTIONS</h2>
    <span class="line"></span>
</div>
<div id="tab" class="con">
    <ul class="tab_menu" style="margin-bottom: 60px;">
        <li class="selected">
            <img src="static/picture/solution1.png">
            <div class="txt" style="overflow: hidden; height: 84px;">
                <h3 style="padding-top: 30px;">Residential Solutions</h3>
                <p>A full portfolio with Single and Three Phase solar inverters, including grid-tied and storage
                    Options. Residential solutions integrate a smart grid with optimal consumption, saving up energy
                    cost with clean and renewable power.</p>
            </div>
        </li>
        <li class="">
            <img src="static/picture/water-3191218-e1593496468616.jpg">
            <div class="txt" style="overflow: hidden; height: 84px;">
                <h3 style="padding-top: 30px;">Commercial Solutions</h3>
                <p>A clean, renewable world is in dire need for industries and businesses that adapt and stay open to
                    change. Power your commercial buildings with clean solar energy by utilizing rooftops.</p>
            </div>
        </li>
        <li class="">
            <img src="static/picture/touch-screen-1023966-e1593496314710.jpg">
            <div class="txt" style="overflow: hidden; height: 84px;">
                <h3 style="padding-top: 30px;">Monitoring Solutions</h3>
                <p>Look around and you find everyone with a smart device. A quality solution should be accessible
                    everywhere you go. Monitor your solar systems and connect with clean energy fans around you.
                </p>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript">
    $(".con ul li").hover(function () {
        $(this).find(".txt").stop().animate({height: "100%"}, 400);
        $(this).find(".txt h3").stop().animate({paddingTop: "200px"}, 400);
        $(this).find(".txt p").stop().animate({paddingTop: "0px"}, 400);
    }, function () {
        $(this).find(".txt").stop().animate({height: "110px"}, 400);
        $(this).find(".txt h3").stop().animate({paddingTop: "30px"}, 400);
        $(this).find(".txt p").stop().animate({paddingTop: "100px"}, 400);
    })
</script>
<div class="con caseh produc-lewn tab_box">
    <div>
        <h2>Single Phase Grid-tied Inverter</h2>
        <ul>
            <li>
                <a href="https://www.hypontech.com/product/hpk-1_3k/">
                    <img src="static/picture/hpk_1-3k-1-693x500.png">
                    <span class="produ-ahref ">HPK 1~3K</span>
                    <span class="produ-botto">The lightest and smallest inverter for 1-3 kW residential PV systems. Perfecting its size in A4 paper and less than 5kg. </span>
                </a>
            </li>
            <li>
                <a href="https://www.hypontech.com/product/hps-series-23k/">
                    <img src="static/picture/hps_1.5-3k-693x500.png">
                    <span class="produ-ahref ">HPS 1.5~3K</span>
                    <span class="produ-botto">HPS Series Single MPPT, 1.5~3kW. Designed for residential PV systems. Compact and elegant with full aluminum die casting.</span>
                </a>
            </li>
            <li>
                <a href="https://www.hypontech.com/product/hps-3-686-5k/">
                    <img src="static/picture/hps_3.68-6.5k-693x500.png">
                    <span class="produ-ahref ">HPS 3~6.5K</span>
                    <span class="produ-botto">HPS Series Dual MPPT Version. The benchmark product of single phase grid-tied inverters. Compact in size but robust and reliable. </span>
                </a>
            </li>
            <li>
                <a href="https://www.hypontech.com/product/hps-7-8/">
                    <img src="static/picture/4k高清晰度渲染-hps7-8k_画板-1-693x500.png">
                    <span class="produ-ahref ">HPS 7-9K</span>
                    <span class="produ-botto">HPS 7-9kW with 3 sets of PV inputs. Inheriting all features from residential solutions, bringing extra power to home solar systems with guaranteed safety and quality.</span>
                </a>
            </li>
        </ul>
        <div style="clear:both;"></div>
        <h2>Three Phase Grid-tied Inverter</h2>
        <ul>
            <li>
                <a href="https://www.hypontech.com/product/hpt-311k/">
                    <img src="static/picture/hpt_3-11k-693x500.png">
                    <span class="produ-ahref ">HPT 3~11K</span>
                    <span class="produ-botto">HPT is a feature-rich 3-phase inverter series to upgrade your home solar system, covering 3kW to 11kW with the capability of 50% DC overload. HPT is powered with the latest generation of TI DSP, processing rate at 800 millions of instructions, making the inverter more reliable and highly adaptable at complex grid environment. </span>
                </a>
            </li>
            <li>
                <a href="https://www.hypontech.com/product/hpt-1520k/">
                    <img src="static/picture/hpt_15-25k-693x500.png">
                    <span class="produ-ahref ">HPT 15~25K</span>
                    <span class="produ-botto">The highly adaptive commercial 3-phase inverter from HPT series, covering 15-25kW. Perfect fit for small commercial rooftop systems and a nice application choice for barns and warehouse. HPT 15-25kW shares the same cover with 3-11kW, making the entire series compact and saving up much room in storage and installation.</span>
                </a>
            </li>
        </ul>
        <div style="clear:both;"></div>
        <h2>Energy Storage Inverter</h2>
        <ul>
            <li>
                <a href="https://www.hypontech.com/product/hhs-3-685k/">
                    <img src="static/picture/hhs_3.68-6k-693x500.png">
                    <span class="produ-ahref ">HHS 3.68~6K</span>
                    <span class="produ-botto">HHS 3.68-6kW is the Hybrid Storage Inverter in Hypontech's Residential Portfolio. Designed as a highly adaptable and flexible option for home PV systems, HHS is integrated with BMS auto-adaption, with Li-ion and Lead Acid options.</span>
                </a>
            </li>
            <li>
                <a href="https://www.hypontech.com/product/hbs-3-685k/">
                    <img src="static/picture/hbs_3.68-5k-693x500.png">
                    <span class="produ-ahref ">HBS 3.68~6K</span>
                    <span class="produ-botto">HBS is the AC-Coupling Storage Inverter developed by Hypontech, enabling the residential storage option in our portfolio. HBS is designed to be highly adaptable to PV systems, including connections to batteries and grid-tied inverters. </span>
                </a>
            </li>
        </ul>
        <div style="clear:both;"></div>
        <div style="clear:both;"></div>
        <div style="clear:both;"></div>

    </div>

    <div>
        <div style="clear:both;"></div>
        <h2>Three Phase Grid-tied Inverter</h2>
        <ul>

            <li>
                <a href="https://www.hypontech.com/product/hpt-311k/">
                    <img src="static/picture/hpt_3-11k-693x500.png">
                    <span class="produ-ahref ">HPT 3~11K</span>
                    <span class="produ-botto">HPT is a feature-rich 3-phase inverter series to upgrade your home solar system, covering 3kW to 11kW with the capability of 50% DC overload. HPT is powered with the latest generation of TI DSP, processing rate at 800 millions of instructions, making the inverter more reliable and highly adaptable at complex grid environment. </span>
                </a>
            </li>
            <li>
                <a href="https://www.hypontech.com/product/hpt-1520k/">
                    <img src="static/picture/hpt_15-25k-693x500.png">
                    <span class="produ-ahref ">HPT 15~25K</span>
                    <span class="produ-botto">The highly adaptive commercial 3-phase inverter from HPT series, covering 15-25kW. Perfect fit for small commercial rooftop systems and a nice application choice for barns and warehouse. HPT 15-25kW shares the same cover with 3-11kW, making the entire series compact and saving up much room in storage and installation.</span>
                </a>
            </li>
            <li>
                <a href="https://www.hypontech.com/product/hpt-2530k/">
                    <img src="static/picture/hpt_33-50k-06-693x500.png">
                    <span class="produ-ahref ">HPT 30~50K</span>
                    <span class="produ-botto">With high performance and reliability, HPT 30-50kW offers a robust but installation-friendly option for commercial PV plants. Integrated with SPD and multiple independent MPPT inputs, HPT 33-50kW series reaches over 98.8% peak efficiency.</span>
                </a>
            </li>
        </ul>
        <div style="clear:both;"></div>
        <div style="clear:both;"></div>
        <h2>Monitoring Accessories</h2>
        <ul>

            <li>
                <a href="https://www.hypontech.com/product/himanager/">
                    <img src="static/picture/ll-693x500.png">
                    <span class="produ-ahref ">HiManager</span>
                    <span class="produ-botto">Hi Manager is a collective data logger developed by Hypontech.
This device is compatible with 3rd party devices such as DRED and smart meter. Also it has the ability to communicate simultaneously with 16 inverters. A perfect choice for commercial rooftop PV projects.
</span>
                </a>
            </li>
        </ul>
        <div style="clear:both;"></div>
        <div style="clear:both;"></div>
    </div>
    <div>
        <div style="clear:both;"></div>
        <div style="clear:both;"></div>
        <div style="clear:both;"></div>
        <h2>Monitoring Accessories</h2>
        <ul>
            <li>
                <a href="https://www.hypontech.com/product/hiportal/">
                    <img src="static/picture/未标题-1-693x500.png">
                    <span class="produ-ahref ">HIPORTAL</span>
                    <span class="produ-botto">New generation of solar monitoring system in 2020.
A banking experience like never before.
Infinite possibilities for distributors, installers and end-users.

New generation of solar monitoring system in 2020.
A banking experience like never before.
Infinite possibilities for distributors, installers and end-users.

New generation of solar monitoring system in 2020.
A banking experience like never before.
Infinite possibilities for distributors, installers and end-users.</span>
                </a>
            </li>
            <li>
                <a href="https://www.hypontech.com/product/himanager/">
                    <img src="static/picture/ll-693x500.png">
                    <span class="produ-ahref ">HiManager</span>
                    <span class="produ-botto">Hi Manager is a collective data logger developed by Hypontech.
This device is compatible with 3rd party devices such as DRED and smart meter. Also it has the ability to communicate simultaneously with 16 inverters. A perfect choice for commercial rooftop PV projects.
</span>
                </a>
            </li>
        </ul>
        <div style="clear:both;"></div>
        <div style="clear:both;"></div>
    </div>
</div>
<style type="text/css">
    #tab .tab_menu {
        width: 100%;
        float: left;
        z-index: 1;
    }

    #tab .tab_menu li {
        float: left;
        line-height: 30px;
        border-bottom: 0px;
        cursor: pointer;
        text-align: center;
        height: 426px;
    }

    #tab .tab_box {
        clear: both;
        top: 30px;
        position: relative;
    }

    #tab .tab_menu .selected {
        cursor: pointer;
        border-bottom: 3px solid #C82333;
    }

    .tab_box > div {
        display: none;
    }

    .tab_box > :first-child {
        display: inherit;
    }
</style>


<script type="text/javascript">
    $(function () {
        var $tab_li = $('#tab ul li');
        $tab_li.hover(function () {
            $(this).addClass('selected').siblings().removeClass('selected');
            var index = $tab_li.index(this);
            $('div.tab_box > div').eq(index).show().siblings().hide();
        });
    });
</script>


<div style="clear: both;">
</div>
<div id="fd2">
    <div class="fd-n1">
        <div class="container">
            <div class="row">
                <div class="col_lg_19">
                    <dl class="fd-dl">
                        <dt><a href="">Products</a><b></b></dt>
                        <dd>
                            <a href="https://www.hypontech.com/product_fenlei/single-on-grid/">Single Phase Grid-tied
                                Inverter</a>
                            <a href="https://www.hypontech.com/product_fenlei/three-on-grid/">Three Phase Grid-tied
                                Inverter</a>
                            <a href="https://www.hypontech.com/product_fenlei/energy-storage-inverter/">Energy Storage
                                Inverter</a>
                            <a href="https://www.hypontech.com/product_fenlei/monitoring/">Monitoring Accessories</a>
                        </dd>
                    </dl>
                    <dl class="fd-dl">
                        <dt><a href="">Solutions</a><b></b></dt>
                        <dd>
                            <a href="https://www.hypontech.com/product_solution/">Residential Solutions</a>
                            <a href="https://www.hypontech.com/product_solution/">Commercial Solutions</a>
                            <a href="https://www.hypontech.com/product_solution/">Monitoring Solutions</a>
                        </dd>
                    </dl>
                    <dl class="fd-dl">
                        <dt><a href="">Service & Support</a><b></b></dt>
                        <dd>
                            <a href="https://www.hypontech.com/faq">FAQS</a>
                            <!--<a href="https://www.hypontech.com/video">Videos</a>-->
                            <a href="https://www.hypontech.com/xiazai">Download</a>
                            <a href="https://www.hypontech.com/warranty">Warranty</a>
                            <a href="https://www.hypontech.com/enquiries/">Service</a>
                        </dd>
                    </dl>
                    <dl class="fd-dl">
                        <dt><a href="">Company</a><b></b></dt>
                        <dd>
                            <a href="https://www.hypontech.com/about-us/">About Us</a>
                            <a href="https://www.hypontech.com/category/news/">Latest Press</a>
                            <a href="https://www.hypontech.com/case">Case Gallery</a>
                            <a href="https://www.hypontech.com/contact/">Contact</a>
                        </dd>
                    </dl>
                    <dl class="fd-dl righe">
                        <dt><a href="https://www.hypontech.com/contact/">Contact Us</a><b></b></dt>
                        <dd>
                            <a class="ienw" style="color: #fff;">China Headquarter</a>
                            <a>Address: No. 1508 Xiangjiang Rd, SND, Suzhou 215129</a>
                            <a>Email: info@hypontech.com</a>
                            <a>Service Email: service@hypontech.com</a>
                            <a>Contact No.:+ 86 512 8071 2199</a>
                        </dd>
                    </dl>
                    <dl class="fd-dl righe" style="margin-top: 36px;">
                        <dt><a></a></dt>
                        <dd>
                            <a class="ienw" style="color: #fff;">Australia Office</a>
                            <a>Address: Unit 604/7 Jenkins Rd CARLINGFORD NSW 2118</a>
                            <a>Contact No.: + 61 (0)2 8054 0377</a>
                        </dd>
                    </dl>
                </div>
                <div class="col_lg_5">
                    <div class="fd-tel2">
                        <img src="static/picture/logo.png">
                    </div>
                    <br/><br/>
                    <div class="line-u1">
                    </div>
                    <div class="pc-rss2">
                        <h3>FOLLOW US
                            <ul class="social-ic-icons">
                                <li class="facebook"><a href="https://www.facebook.com/hypontechsolar"><span></span></a>
                                </li>
                                <li class="twitter"><a href="https://twitter.com/"><span></span></a></li>
                                <li class="inline"><a href="http://instagram.com/"><span></span></a></li>
                                <li class="camera"><a href="https://www.linkedin.com"><span></span></a></li>
                                <li class="been"><a href="https://weibo.com/"><span></span></a></li>
                            </ul>
                        </h3>
                        <p>
                            Copy right@2020 Suzhou HYPONTECH Co.,Ltd All Rights Reserved
                        </p>
                        <p>
                            <a href="https://www.hypontech.com/privary-policy">Privary Policy</a> | <a
                            href="https://www.hypontech.com/rights-claim">Rights Claim</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 手机底部 -->
<div class="col_lg_80">
    <div class="m-lnew">
        <img src="static/picture/logo.png">
    </div>
    <div class="m-lnew2">
        <h3>FOLLOW US
            <ul class="m-lnew3">
                <li><a href="https://www.facebook.com/hypontechsolar"><img src="static/picture/img-sprite_01.png"></a>
                </li>
                <li><a href="https://twitter.com/hypontechsolar"><img src="static/picture/img-sprite_03.png"></a></li>
                <li><a href="http://instagram.com/hypontechsolar"><img src="static/picture/img-sprite_05.png"></a></li>
                <li><a href="https://www.linkedin.com/company/hypontechsolar"><img
                    src="static/picture/img-sprite_07.png"></a></li>
                <li><a href=""><img src="static/picture/img-sprite_09.png"></a></li>
            </ul>
        </h3>
        <p>
            Copy right@2020 Suzhou HYPONTECH Co.,Ltd All Rights Reserved
        </p>
        <p>
            Privary Policy | Rights Claim
        </p>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sinput').on('keypress', function (event) {
            if (event.keyCode == 13) {
                var sinput = $(this).val();
                if (sinput) {
                    window.location.href = "https://www.hypontech.com?s=" + sinput;
                }
            }
        });
        $('#minput').on('keypress', function (event) {
            if (event.keyCode == 13) {
                console.log('aaaa');
                var minput = $(this).val();
                if (sinput) {
                    window.location.href = "https://www.hypontech.com?s=" + minput;
                }
            }
        });
    })
</script>
<script type="text/javascript" src="static/js/kgu.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>
<link rel='stylesheet' id='wp-block-library-css' href='static/css/style.min.css' type='text/css' media='all'/>
<script type='text/javascript' src='static/js/wp-embed.min.js'></script>
</body>
</html>
